{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Clientes</b></font></p></div>
            <div class="panel-body">
                 <form method="get" class="form-inline col-md-12">
                    <div class="form-group">
                        <label for="cuit_cuil">Cuit/Cuil</label>
                        <input type="text" class="form-control" value="{{filtros.cuit_cuil}}" name="cuit_cuil" id="cuit_cuil" >
                    </div>
                    <div class="form-group">
                        <label for="razon_social">Razon Social</label>
                        <input type="text" class="form-control" value="{{filtros.razon_social}}" name="razon_social" id="razon_social" >
                    </div>
                    <div class="form-group">
                        <label for="ciudad">Ciudad</label>
                        <select class="form-control" id="ciudad" name="ciudad" title="">
                            <option value="" selected="selected">---------</option>
                            {% for c in ciudades %}
                                <option value="{{c.id}}">{{c}}</option>
                            {% endfor %}
                      </select>
                    </div>
                    <div class="checkbox">
                         <label>
                          <input type="checkbox" class="form-control" {% if filtros.es_moroso %} checked{% endif %}  value="{{filtros.es_moroso}}" name="es_moroso" id="es_moroso"> Morosos
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Filtrar</button>
                                         <p>&nbsp;</p>

                  </form>

            <div class="row">
                <div class="col-md-10" style="overflow-y:scroll; max-height:350px;">
                    <p>&nbsp;</p>
                          <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Cuit/Cuil</th>
                                <th>Razón Social</th>
                                <th>Ciudad</td>
                                <th>Moroso</td>
                            </tr>
                            </thead>
                              <tbody>
                                {% for cliente in clientes %}
                                <tr class="renglon select-item" data-id="{{cliente.id}}" id="renglon-{{cliente.id}}">
                                    <td>{{cliente.cuit_cuil}}</td>
                                    <td>{{cliente.razon_social}}</td>
                                 <td><a href="{% url 'ciudadConsulta' cliente.ciudad.id %}">{{cliente.ciudad}}</a></td>
                                    <td>{% if cliente.es_moroso == True %}
                                            <span  class="glyphicon glyphicon-ok" aria-hidden="true"> </span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                </div>
           <div class="col-md-2">
                  <div class="btn-group btn-group-sm" role="group" aria-label="...">
                          <a type="button" id="consulta-cliente" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true">  </span></a>
                          <a type="button" id="modificar-cliente" class="btn btn-warning"><span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span></a>
                          <a type="button" id="modal-eliminar" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true">    </span></a>
                  </div>
                  <p></p>
                  <a class="btn" href = "{% url 'clientesAlta' %}"><font face="tahoma" size="2" color="green"><b><span  class="glyphicon glyphicon-ok" aria-hidden="true"> Agregar </span></b></font></a>
           </div>
            </div>
            <hr/>
        </div>
    </div>







    <!-- Este es el fin del formulario de recetas -->


{% endblock %}
{% block javascript %}
<script>
    $(function() {
        var id;
        function obtenerId(event) {
            var $el = $(this);          //con this se referencia al objeto de clase select-item que ocaciono el evento, el id se define en el html
            id = $el.data()["id"];
            $el.addClass("active");
            var _renglon = "";
            _renglon= "#renglon-"+id;
            $(".select-item").removeClass("active");        //quito la clase active, para q se deseleccionen
            $(_renglon).addClass("active");
        }

        $(".select-item").click(obtenerId);     //todos los elementos de clase "selec-item", al hacerles clic se ejecuta "obtenerId"

         function mostrarModal(){
            if(id==undefined){
                BootstrapDialog.show({
                title: "Error al Intentar Eliminar",
                cssClass: 'error-dialog',
                message: "Debe seleccionar un Cliente",
                type: BootstrapDialog.TYPE_DANGER,
                buttons: [{
                        label: 'Aceptar',
                        action: function(dialogRef){
                            dialogRef.close();
                        }
                }]
            });
            }else{
                BootstrapDialog.show({
                title: "Error al Intentar Eliminar",
                cssClass: 'error-dialog',
                message: "Seguro que quiere eliminar el cliente?",
                type: BootstrapDialog.TYPE_DANGER,
                buttons: [{
                           label: 'Aceptar',
                           action: function(dialogRef){
                                 dialogRef.close();
                                 eliminar();}
                           },{
                               label: 'Cancelar',
                               action: function(dialogRef){
                               dialogRef.close();
                              }
                          }]
            });
            }
        }

        $("#modal-eliminar").click(mostrarModal);

        function eliminar() {
            window.open('/clientes/baja/'+id+'',"_self")
        }

        function modificar(){
            if(id==undefined){
                BootstrapDialog.show({
                title: "Error de Modificar",
                cssClass: 'error-dialog',
                message: "Debe seleccionar un Cliente",
                type: BootstrapDialog.TYPE_DANGER,
                buttons: [{
                        label: 'Aceptar',
                        action: function(dialogRef){
                            dialogRef.close();
                        }
                }]
            });
            }else{
            window.open('/clientes/modificar/'+id+'',"_self")
        }}


        function consultar(){
            if(id==undefined){
                BootstrapDialog.show({
                title: "Error de Consulta",
                cssClass: 'error-dialog',
                message: "Debe seleccionar un Cliente",
                type: BootstrapDialog.TYPE_DANGER,
                buttons: [{
                        label: 'Aceptar',
                        action: function(dialogRef){
                            dialogRef.close();
                        }
                }]
            });
            }else{
            window.open('/clientes/'+id+'',"_self")
            }

        }


        $("#modificar-cliente").click(modificar);
        $("#eliminar-cliente").click(eliminar);       //con # indico que el elemento con id "eliminar-producto", al hacer clic ejecuto eliminar()
        $("#consulta-cliente").click(consultar);


    });
</script>
</div>
{% endblock %}
