{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}
<!-- Este es el formulario de INSUMOS PAPA -->

<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Insumos</b></font></p></div>

        <div class="panel-body">
              <!-- formulario -->
            <!--<form class="form-inline"> -->
            <form method="get" class="form-inline col-md-12">

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" value="{{filtros.nombre}}" name="nombre" id="nombre" >
                    <label for="stock">Stock</label>
                    <input type="text" class="form-control" value="{{filtros.stock}}" name="stock" id="stock" >
                </div>
                <button type="submit" class="btn btn-default">Filtrar</button>
            </form>

            <div class="row">

                <div class="col-md-10">
                    <p>&nbsp;</p>

                          <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Nombre</th>

                                <th>Stock</th>
                                <th>Unidad de Medida</th>
                            </tr>
                            </thead>
                              <tbody>
                                {% for insumo in insumos %}
                                <tr>
                                    <td>{{insumo.nombre}}</td>

                                    <td>{{insumo.stock}}</td>
                                    <td>{{insumo.get_unidad_medida_display}}</td>
                                       <td>  <a type="button" href="{% url 'insumoConsulta' insumo.id %}" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true">    </span></a></td>
                                    <td>  <a type="button" href ="{% url 'insumoModificar' insumo.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span></a></td>
                                    <td>  <a  type="button" class="btn btn-danger "><span class="glyphicon glyphicon-trash" aria-hidden="true">    </span></a></td>
                                </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                </div>
                  <div class="btn-group btn-group-sm" role="group" aria-label="...">


              <a href ="insumosConsulta" type="button" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true">  </span></a>
              <a href ="insumosModificar" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span></a>
              <button type="button" class="btn btn-danger "><span class="glyphicon glyphicon-trash" aria-hidden="true">    </span></button>
          </div>
          <p></p>

                     <a class="btn" href = "{% url 'insumosAlta' %}"><font face="tahoma" size="2" color="green"><b><span  class="glyphicon glyphicon-ok" aria-hidden="true"> Agregar </span></b></font></a>
            </div>
            <hr/>

        </div>

    </div>

</div>



{% endblock %}
