{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}
<!-- Este es el formulario de INSUMOS PAPA -->

<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Insumos</b></font></p></div>
<!--<a href="{{ MEDIA_URL django_file.url }}">download</a>-->
        <div class="panel-body">
              <!-- formulario -->
            <!--<form class="form-inline"> -->
            <form method="get" class="form-inline col-md-12">

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" value="{{filtros.nombre}}" name="nombre" id="nombre" >
                    <label for="stock">Stock (Menor o igual a)</label>
                    <input type="number" class="form-control" value="{{filtros.stock}}" name="stock" id="stock" >
                </div>
                <button type="submit" class="btn btn-default">Filtrar</button>
            </form>

            <div class="row">

                <div class="col-md-10" style="overflow-y:scroll; max-height:350px;">
                    <p>&nbsp;</p>

                          <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Stock</th>
                                <th>Unidad de Medida</th>
                            </tr>
                            </thead>
                              <tbody>
                                {% for insumo in insumos %}

                                <tr class="renglon select-item" data-id="{{insumo.id}}" id="renglon-{{insumo.id}}" data-recetas="{{insumo.receta_set.exists}}">
                                    <td>{{insumo.nombre}}</td>
                                    <td>{{insumo.stock}}</td>
                                    <td>{{insumo.get_unidad_medida_display}}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                </div>
                  <div class="btn-group btn-group-sm" role="group" aria-label="...">


              <!-- <a href ="insumosConsulta" type="button" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true">  </span></a> -->
              <a id="consulta-insumo" type="button" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true">  </span></a>
              <a id ="modificar-insumo" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span></a>
              <button id ="modal-eliminar" type="button" class="btn btn-danger "><span class="glyphicon glyphicon-trash" aria-hidden="true">    </span></button>
          </div>
          <p></p>
                <a class="btn" href = "{% url 'insumosAlta' %}"><font face="tahoma" size="2" color="green"><b><span  class="glyphicon glyphicon-ok" aria-hidden="true"> Agregar </span></b></font></a>
            </div>
            <hr/>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    $(function() {
        var tiene_receta;
        var id;
        var tiene_receta;
        function obtenerId(event) {
            var $el = $(this);          //con this se referencia al objeto de clase select-item que ocaciono el evento, el id se define en el html
            id = $el.data()["id"];
            tiene_receta = $el.data()["recetas"] == "True";
            console.log(id)
            $el.addClass("active");
            var _renglon = "";
            _renglon= "#renglon-"+id;
            $(".select-item").removeClass("danger");        //quito la clase active, para q se deseleccionen
            $(_renglon).addClass("danger");
        }

        $(".select-item").click(obtenerId);     //todos los elementos de clase "selec-item", al hacerles clic se ejecuta "obtenerId"

        function eliminar() {
            window.open('/insumos/baja/'+id+'',"_self")
        }

       function mostrar_error(){
            BootstrapDialog.show({
                    title: "Error",
                    cssClass: 'error-dialog',
                    message: "Debe seleccionar un insumo",
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                            label: 'Aceptar',
                            action: function(dialogRef){
                                dialogRef.close();
        }}]});}

            function mostrarModal(){
            if(id==undefined){
                mostrar_error();
            }else{
                  if(tiene_receta){
                      BootstrapDialog.show({
                            title: "Esta intentando eliminar",
                            cssClass: 'error-dialog',
                            message: "Existen receta que pertenecen al producto terminado que intenta eliminar. Elimine primero la receta.",
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                    label: 'Aceptar',
                                    action: function(dialogRef){
                                        dialogRef.close();
                                    }
                                    }
                            ]
                        });
                  }else{
                        BootstrapDialog.show({
                            title: "Esta intentando eliminar",
                            cssClass: 'error-dialog',
                            message: "Esta seguro que quiere eliminar el insumo?",
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                    label: 'Aceptar',
                                    action: function(dialogRef){
                                        dialogRef.close();
                                        eliminar();}
                                        },{
                                    label: 'Cancelar',
                                    action: function(dialogRef){
                                        dialogRef.close();
                                    }
                                    }
                            ]
                        });
                   }
            }
        }

        $("#modal-eliminar").click(mostrarModal);



        function modificar(){
            if(id==undefined){
                mostrar_error();
            }else{
            window.open('/insumos/modificar/'+id+'',"_self")
        }}



        function consultar(){
            if(id==undefined){
                mostrar_error();
            }else{

                if (tiene_receta== true){
                    console.log("tiene detalles");
                }else{
                            BootstrapDialog.show({
                                title: "Eliminar",
                                cssClass: 'aviso-dialog',
                                message: "¿Seguro que desea borrar?",
                                type: BootstrapDialog.TYPE_WARNING,
                                buttons: [{
                                        label: 'Aceptar',
                                        action: function(dialogRef){

                                            window.open('/insumos/baja/'+id+'',"_self");
                                            dialogRef.close();
                                        }},{
                                        label: 'Cancelar',
                                        action:function(dialogRef){
                                        dialogRef.close();
                                }}]});
                    }
            window.open('/insumos/'+id+'',"_self")
            }
        }


        $("#modificar-insumo").click(modificar);
        $("#eliminar-insumo").click(eliminar);       //con # indico que el elemento con id "eliminar-producto", al hacer clic ejecuto eliminar()
        $("#consulta-insumo").click(consultar);



    });
</script>

{% endblock %}
