{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block contenido %}
<!-- Este es el formulario de recetas -->
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Productos Terminados</b></font></p></div>
  <div class="panel-body">
      <!-- formulario -->
      <form class="form-inline" method="get">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" value="{{filtros.nombre}}" name="nombre" id="nombre" >
          </div>

            <div class="form-group">
            <label for="stock">Stock (Menor o igual a)</label>
            <input type="text" class="form-control" value="{{filtros.stock}}" id="stock" name = "stock" >
          </div>

          <label>

          </label>

          <button type="submit" class="btn btn-default">Filtrar</button>
      </form>
          <p>&nbsp;</p>
      <div class="row"><!-- <div style="height:100px;overflow-y:scroll;;">-->
          <div class="col-md-10" style="overflow-y:scroll; max-height:350px;">
          <table class="table table-hover">

            <thead>
            <tr>
                <th>Nombre</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Recetas</th>
            </tr>
            </thead>

              <tbody>
                                 {% for p in productos %}
                                 <tr class="renglon select-item" data-id="{{p.id}}" id="renglon-{{p.id}}" data-recetas="{{p.receta_set.exists}}">
                                    <td>{{p.nombre}}</td>
                                    <td>{{p.stock}} Bolsines</td>
                                    <td>${{p.precio}}</td>
                                    <td>{{p.receta_set.all|join:", "}}</td>
                                </tr>
                                {% endfor %}
          </tbody>

          </table>
          </div>
      <div class="col-md-2">
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <a type="button" id="consulta-producto" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true">  </span></a>
              <a type="button" id="modificar-producto" class="btn btn-warning"><span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span></a>
              <a type="button" id="eliminar-producto" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true">    </span></a>
              <!-- AL PRECIONAR EL BOTON ELIMINAR SE DEBEN DAR DE BAJAS TODAS LAS RECETAS ASOCIADAS A ESE PRODUCTO TERMINADO-->
          </div>
          <p></p>
          <a class="btn" href = "{% url 'productosTerminadosAlta' %}"><font face="tahoma" size="2" color="green"><b><span  class="glyphicon glyphicon-ok" aria-hidden="true"> Agregar </span></b></font></a>
      </div>
      </div>
      <hr/>
  </div>
</div>





    <!-- Este es el fin del formulario de recetas -->


{% endblock %}
{% block javascript %}
<script>
        $(function() {
        var id;
        var tiene_receta;
        function obtenerId(event) {
            var $el = $(this);          //con this se referencia al objeto de clase select-item que ocaciono el evento, el id se define en el html
            id = $el.data()["id"];
            tiene_receta = $el.data()["recetas"] == "True";
            $el.addClass("active");
            var _renglon = "";
            _renglon= "#renglon-"+id;
            $(".select-item").removeClass("active");        //quito la clase active, para q se deseleccionen
            $(_renglon).addClass("active");
        }

        $(".select-item").click(obtenerId);     //todos los elementos de clase "selec-item", al hacerles clic se ejecuta "obtenerId"


          function mostrar_error(){
            BootstrapDialog.show({
                    title: "Error",
                    cssClass: 'error-dialog',
                    message: "Debe seleccionar un producto",
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                            label: 'Aceptar',
                            action: function(dialogRef){
                                dialogRef.close();
                            }
                    }]
            });
        }


        function eliminar(){
            if(id==undefined)
	        {
                mostrar_error();
            }else{
                if(tiene_receta){
                    console.log(id);
                    BootstrapDialog.show({
                        title: "Esta intentando eliminar",
                        cssClass: 'error-dialog',
                        message: "Existen receta que pertenecen al produto terminado que intenta eliminar. Si lo elimina, se eliminaran estas recetas. Desea continuar?.",
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Aceptar',
                            action: function(dialogRef){
                                window.open('/productosTerminados/baja/'+id+'',"_self");
                                dialogRef.close();
                            }},{
                            label: 'Cancelar',
                            action:function(dialogRef){
                            dialogRef.close();
                            }
                        }]



                    });

                }
                else{
                    BootstrapDialog.show({
                            title: "Esta intentando eliminar",
                            cssClass: 'error-dialog',
                            message: "Esta seguro que quiere eliminar el producto terminado?",
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                            label: 'Aceptar',
                            action: function(dialogRef){
                                window.open('/productosTerminados/baja/'+id+'',"_self");
                                dialogRef.close();
                            }},{
                            label: 'Cancelar',
                            action:function(dialogRef){
                            dialogRef.close();
                            }
                        }]
                        });
                }
            }
        }




        function modificar(){
            if(id==undefined){
                mostrar_error();
            }else{
            window.open('/productosTerminados/modificar/'+id+'',"_self")
        }}



        function consultar(){
            if(id==undefined){
                mostrar_error();
            }else{
            window.open('/productosTerminados/'+id+'',"_self")
            }

        }


        $("#modificar-producto").click(modificar);
        $("#eliminar-producto").click(eliminar);       //con # indico que el elemento con id "eliminar-producto", al hacer clic ejecuto eliminar()
        $("#consulta-producto").click(consultar);


    });
</script>
</div>
{% endblock %}