{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}
<!-- Este es el formulario de recetas -->
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Proveedores</b></font></p></div>
  <div class="panel-body">
      <!-- formulario -->
      <form class="form-inline">
          <div class="form-group">
            <label for="cuit">Cuit</label>
            <input type="text" class="form-control" value="{{filtros.cuit}}" id="cuit" placeholder="Jane Doe" name="ciut">
          </div>
          <div class="form-group">
            <label for="razonSocial">Razón Social</label>
            <input type="text" class="form-control" value="{{filtros.razon_social}}" id="razon_social" placeholder="Razon Social" name="razon_social">
          </div>
          <div class="form-group">
            <label for="localidad">Localidad</label>
            <input type="text" class="form-control" value="{{filtros.localidad}}" id="localidad" placeholder="localidad" name="localidad">
          </div>
          <hr>



          <label>

          </label>
          <button type="submit" class="btn btn-default">Filtrar</button>
      </form>
          <p>&nbsp;</p>
      <div class="row">
          <div class="col-md-10">
          <table class="table table-hover">
            <thead>
            <tr>
                <th>Cuit/Cuil</th>
                <th>Razón Social</th>
                <th>Localidad</th>

            </tr>
            </thead>
              <tbody>
            {% for proveedor in proveedores %}
                <tr>
              <td>{{proveedor.cuit}}</td>
              <td>{{proveedor.razon_social}}</td>
              <td>{{proveedor.localidad}}</td>
              <!--<td> <a type="button" href="{% url 'proveedoresID' proveedor.id %}" class="btn btn-ok "><span class="glyphicon glyphicon-ok" aria-hidden="true">    </span></a></td>
-->

              <td> <a type="button" onclick="obtenerId({{proveedor.id}});" class="btn btn-ok "><span class="glyphicon glyphicon-ok" aria-hidden="true">    </span></a></td>

          </tr>
            {% endfor %}
          </tbody>
          </table>
          </div>
      <div class="col-md-2">
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <a  href ="proveedoresConsulta" type="button" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true">  </span></a>
              <a href ="proveedoresModificar" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span></a>
              <a  type="button" onclick="eliminar();" class="btn btn-danger "><span class="glyphicon glyphicon-trash" aria-hidden="true">    </span></a>
          </div>
          <p></p>
          <a class="btn" href="proveedoresAlta"><font face="tahoma" size="2" color="green"><b><span  class="glyphicon glyphicon-ok" aria-hidden="true"> Agregar </span></b></font></a>
</div>
          </div>
      <hr/>

  </div>


</div>
   <!-- Este es el fin del formulario de recetas -->
<script>
    var id;
    function obtenerId(a){
        id=a;       //usar esta variable para las funciones de eliminar, consulta o modificacion

    }
    function eliminar(){
        alert("eliminar "+id);
        $.ajax({alert("sdfsdfdsf")
                    url:"proveedoresBaja",
                    type: "POST",
                    data: ({"proveedor_id":id}),
                    dataType: "json",
                    async: false,
                    success: function(json){
                        alert(json.mensaje)
                    },
                    error:function (xhr, ajaxOptions, thrownError){
                        alert(thrownError);
                    },
                });

                }
</script>
</div>






{% endblock %}
