{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block contenido %}
<!-- Este es el formulario de recetas -->
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Proveedores</b></font></p></div>
  <div class="panel-body">
      <!-- formulario -->
      <form class="form-inline">
          <div class="form-group">
            <label for="cuit">Cuit</label>
            <input type="text" class="form-control" value="{{filtros.cuit}}" id="cuit" placeholder="Jane Doe" name="ciut">
          </div>
          <div class="form-group">
            <label for="razonSocial">Razón Social</label>
            <input type="text" class="form-control" value="{{filtros.razon_social}}" id="razon_social" placeholder="Razon Social" name="razon_social">
          </div>
          <div class="form-group">
            <label for="localidad">Localidad</label>
            <input type="text" class="form-control" value="{{filtros.localidad}}" id="localidad" placeholder="localidad" name="localidad">
          </div>
          <hr>



          <label>

          </label>
          <button type="submit" class="btn btn-default">Filtrar</button>
      </form>
          <p>&nbsp;</p>
      <div class="row">
          <div class="col-md-10">
          <table class="table table-hover">
            <thead>
            <tr>
                <th>Cuit/Cuil</th>
                <th>Razón Social</th>
                <th>Localidad</th>

            </tr>
            </thead>
              <tbody>
            {% for proveedor in proveedores %}
                <tr class="renglon select-item" data-id="{{proveedor.id}}" id="renglon-{{proveedor.id}}">
                      <td>{{proveedor.cuit}}</td>
                      <td>{{proveedor.razon_social}}</td>
                      <td>{{proveedor.localidad}}</td>
                      <!--<td> <a type="button" href="{% url 'proveedoresID' proveedor.id %}" class="btn btn-ok "><span class="glyphicon glyphicon-ok" aria-hidden="true">    </span></a></td>
                        -->

                      <td> <a type="button" class="btn btn-ok" ><span class="glyphicon glyphicon-ok" aria-hidden="true">    </span></a></td>

                </tr>
            {% endfor %}
          </tbody>
          </table>
          </div>
      <div class="col-md-2">
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <a  href ="proveedoresConsulta" type="button" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true">  </span></a>
              <a href ="proveedoresModificar" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span></a>
              <a type="button" id="modal-eliminar" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true">    </span></a>
          </div>
          <p></p>
          <a class="btn" href="proveedoresAlta"><font face="tahoma" size="2" color="green"><b><span  class="glyphicon glyphicon-ok" aria-hidden="true"> Agregar </span></b></font></a>
</div>
          </div>
      <hr/>

  </div>
</div>



<div id="myModalEliminar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Eliminar Proveedor</h4>
      </div>
      <div class="modal-body">
          <label for="">Confirma que decea borrar: </label>


      </div>
      <div class="modal-footer">
          <a id="eliminar-proveedor"><button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button></a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>

  </div>
</div>



   <!-- Este es el fin del formulario de recetas -->
{% endblock %}
{% block javascript %}
<script>
    $(function() {
        var id;
        function obtenerId(event) {
            var $el = $(this);          //con this se referencia al objeto de clase select-item que ocaciono el evento, el id se define en el html
            id = $el.data()["id"];
            $el.addClass("active");
            var _renglon = "";
            _renglon= "#renglon-"+id;
            $(".select-item").removeClass("active");        //quito la clase active, para q se deseleccionen
            $(_renglon).addClass("active");
        }

        $(".select-item").click(obtenerId);     //todos los elementos de clase "selec-item", al hacerles clic se ejecuta "obtenerId"

         function mostrarModal(){
            $("#myModalEliminar").modal("show");
        }

        $("#modal-eliminar").click(mostrarModal);



        function eliminar() {
            $.post("{% url "proveedoresBaja" %}",
                  {"proveedor_id":id},
                  function() {
                    alert('Respuesta');
                  });
        }


        function modificar(){
            $.post("{% url "proveedoresModificar" %}",
                  {"proveedor_id":id},
                  function() {
                    alert('Respuesta');
                  });
        }


        function consultar(){
            $.post("{% url "proveedoresConsulta" %}",
                  {"proveedor_id":id},
                  function() {
                    alert('Respuesta');
                  });
        }


        $("#modificar-proveedor").click(modificar);
        $("#eliminar-proveedor").click(eliminar);       //con # indico que el elemento con id "eliminar-proveedor", al hacer clic ejecuto eliminar()
        $("#consulta-proveedor").click(consutar);


    });
</script>
</div>
{% endblock %}
