{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load recetas %}
{% block contenido %}
<!-- Este es el formulario de recetas -->
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Proveedores</b></font></p></div>
  <div class="panel-body">
      <!-- formulario -->
      <form class="form-inline">
          <div class="form-group">
            <label for="cuit">Cuit</label>
            <input type="text" class="form-control" value="{{filtros.cuit}}" id="cuit" placeholder="NN-NNNNNNNN-N" name="cuit">
          </div>
          <div class="form-group">
            <label for="razonSocial">Razón Social</label>
            <input type="text" class="form-control" value="{{filtros.razon_social}}" id="razon_social" placeholder="Razon Social" name="razon_social">
          </div>
          <div class="form-group">
            <label for="localidad">Localidad</label>
            <input type="text" class="form-control" value="{{filtros.localidad}}" id="localidad" placeholder="localidad" name="localidad">
          </div>
          <hr>



          <label>

          </label>
          <button type="submit" class="btn btn-default">Filtrar</button>
      </form>
          <p>&nbsp;</p>

      <div class="row">
          <div class="col-md-10" style="overflow-y:scroll; max-height:350px;">
          <table class="table" >
            <thead>
            <tr>
                <th>Cuit/Cuil</th>
                <th>Razón Social</th>
                <th>Localidad</th>
            </tr>
            </thead>
              <tbody>
            {% for proveedor in proveedores %}
                <tr class="renglon select-item" data-id="{{proveedor.id}}" id="renglon-{{proveedor.id}}" data-pedidos="{{proveedor.pedidoproveedor_set.exists}}" data-pendiente="{%estado pedidosPendientes proveedor.id%}">
                      <td>{{proveedor.cuit}}</td>
                      <td>{{proveedor.razon_social}}</td>
                      <td>{{proveedor.localidad}}</td>
                      <!--<td> <a type="button" href="{% url 'proveedoresID' proveedor.id %}" class="btn btn-ok "><span class="glyphicon glyphicon-ok" aria-hidden="true">    </span></a></td>
                        -->

                </tr>
            {% endfor %}
          </tbody>
          </table>
          </div>
      <div class="col-md-2">
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <a  type="button" id="consulta-proveedor" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true">  </span></a>
              <a type="button" id="modificar-proveedor" class="btn btn-warning"><span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span></a>
              <a type="button" id="modal-eliminar" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true">    </span></a>
          </div>
          <p></p>
          <a class="btn" href="{% url 'proveedoresAlta' %}" ><font face="tahoma" size="2" color="green"><b><span  class="glyphicon glyphicon-ok" aria-hidden="true"> Agregar </span></b></font></a>
</div>
          </div>
      <hr/>

  </div>
</div>




   <!-- Este es el fin del formulario de recetas -->
{% endblock %}
{% block javascript %}
<script>
    $(function() {
        var id;
        var tiene_pedidos;
        var pendiente;
        function obtenerId(event) {
            var $el = $(this);          //con this se referencia al objeto de clase select-item que ocaciono el evento, el id se define en el html
            id = $el.data()["id"];
            $el.addClass("danger");
            pendiente = $el.data()["pendiente"];
            console.log(pendiente);
            var _renglon = "";
            tiene_pedidos = $el.data()["pedidos"] == "True";
            _renglon= "#renglon-"+id;
            $(".select-item").removeClass("danger");        //quito la clase active, para q se deseleccionen
            $(_renglon).addClass("danger");
        }

        $(".select-item").click(obtenerId);     //todos los elementos de clase "selec-item", al hacerles clic se ejecuta "obtenerId"

        function mostrar_error(){
            BootstrapDialog.show({
                    title: "Error",
                    cssClass: 'error-dialog',
                    message: "Debe seleccionar un proveedor",
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                            label: 'Aceptar',
                            action: function(dialogRef){
                                dialogRef.close();
                            }
                    }]
            });
        }

         function mostrarModal(){
            if(id==undefined){
                mostrar_error();
            }else{
              if(tiene_pedidos){
                  BootstrapDialog.show({
                            title: "Esta intentando eliminar",
                            cssClass: 'error-dialog',
                            message: "El proveedor que intenta eliminar tiene pedidos asociados.No se puede eliminar",
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                    label: 'Aceptar',
                                    action: function(dialogRef){
                                        dialogRef.close();
                                        }
                                        }
                            ]
                        });
              }
              else{
                BootstrapDialog.show({
                            title: "Esta intentando eliminar",
                            cssClass: 'error-dialog',
                            message: "Esta seguro que quiere eliminar el proveedor?",
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                    label: 'Aceptar',
                                    action: function(dialogRef){
                                        dialogRef.close();
                                        eliminar();}
                                        },{
                                    label: 'Cancelar',
                                    action: function(dialogRef){
                                        dialogRef.close();
                                    }
                                    }
                            ]
                        });
              }
              }
            }
        

        $("#modal-eliminar").click(mostrarModal);

        function eliminar() {
            window.open('/proveedores/Baja/'+id+'',"_self")
        }

        function modificar(){
            if(id==undefined){
                mostrar_error();
            }else{
                if(pendiente=='True')
                {
                    BootstrapDialog.show({
                            title: "Esta intentando Modificar",
                            cssClass: 'error-dialog',
                            message: "El PROVEEDOR que intenta MODIFICAR tiene Pedido/s Pendiente/s asociado/s. Cancele, Elimine o Recepcione dichos pedidos para realizar esta accion.",
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                    label: 'Aceptar',
                                    action: function(dialogRef){
                                        dialogRef.close();
                                        }
                                        }
                            ]
                        });
                }
                else
                {
                    window.open('/proveedores/Modificar/'+id+'',"_self")
                }
            }
        y


        function consultar(){
            if(id==undefined){
            mostrar_error();
            }else{
            window.open('/proveedores/Consulta/'+id+'',"_self")
            }

        }


        $("#modificar-proveedor").click(modificar);
        $("#eliminar-proveedor").click(eliminar);       //con # indico que el elemento con id "eliminar-proveedor", al hacer clic ejecuto eliminar()
        $("#consulta-proveedor").click(consultar);


    });
</script>
</div>
{% endblock %}
