{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}
<!-- Este es el formulario de recetas -->
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Recetas</b></font></p></div>
  <div class="panel-body">
      <!-- formulario -->
      <form class="form-inline">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" value="{{filtros.nombre}}" name="nombre" id="nombre" placeholder="nombre">
          </div>

          <div class="form-group">
              <label for="producto_terminado">Producto</label>

              <select class="form-control" id="producto_terminado" name="producto_terminado">
                              <option value="" selected="selected">---------</option>
                                 {% for p in productos_terminados %}
                                     <option value="{{p.id}}">{{p}}</option>
                                {% endfor %}
              </select>
          </div>


          <button type="submit" class="btn btn-default">Filtrar</button>
      </form>
          <p>&nbsp;</p>
      <div class="row">
          <div class="col-md-10" style="overflow-y:scroll; max-height:350px;">
          <table class="table table-hover" id="datatables" class="display">
            <thead>
            <tr style='cursor:pointer' class='desmarcado'>
                <th>Receta</th>
                <th>Producto Terminado</th>
                <th>Cantidad</th>
            </tr>
            </thead>
              <tbody>
            {% for receta in recetas %}
            <tr class="renglon select-item" data-id="{{receta.id}}" id="renglon-{{receta.id}}">
                <td>{{receta.nombre}}</td>
                <td><a href="{% url 'productosTerminadosConsulta' receta.producto_terminado.id %}">{{receta.producto_terminado}}</a></td>
                <td>{{receta.cant_prod_terminado}} {{receta.get_unidad_medida_display}}</td>

          </tr>
            {% endfor %}
          </tbody>
          </table>
          </div>
      <div class="col-md-2">
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <a id="receta-consultar" type="button" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true">  </span></a>
              <a id ="receta-modificar" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span></a>
              <a id ="receta-eliminar" type="button" class="btn btn-danger "><span class="glyphicon glyphicon-trash" aria-hidden="true">    </span></a>
          </div>
          <p></p>
          <a class="btn" href="{%url 'recetasAlta' %}"><font face="tahoma" size="2" color="green"><b><span  class="glyphicon glyphicon-ok" aria-hidden="true"> Agregar </span></b></font></a>
      </div>
          </div>
  </div>

</div>
</div>

{% endblock %}
{% block javascript %}
<script>

    $(function() {
        var id;
        function obtenerId(event) {
            var $el = $(this);          //con this se referencia al objeto de clase select-item que ocaciono el evento, el id se define en el html
            id = $el.data()["id"];
            $el.addClass("active");
            var _renglon = "";
            _renglon= "#renglon-"+id;
            $(".select-item").removeClass("active");        //quito la clase active, para q se deseleccionen
            $(_renglon).addClass("active");
        }

        $(".select-item").click(obtenerId);     //todos los elementos de clase "selec-item", al hacerles clic se ejecuta "obtenerId"



        function mostrar_error(){
            BootstrapDialog.show({
                    title: "Error",
                    cssClass: 'error-dialog',
                    message: "Debe seleccionar una receta",
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                            label: 'Aceptar',
                            action: function(dialogRef){
                                dialogRef.close();
                            }
                    }]
            });
        }


        $("#receta-consultar").click(function(){
              if(id==undefined){
                    mostrar_error()
              }else{
                  window.open('/recetas/'+id+'',"_self")
              }
        });

        $("#receta-modificar").click(function(){
               if(id==undefined){
                    mostrar_error()
              }else{
                 window.open('/recetas/modificar/'+id+'',"_self")
              }
        });

        $("#receta-eliminar").click(function(){
            if (id == undefined){
                 mostrar_error()
            }else{
                BootstrapDialog.show({
                    title: "Eliminar",
                    cssClass: 'aviso-dialog',
                    message: "¿Seguro que desea borrar?",
                    type: BootstrapDialog.TYPE_WARNING,
                    buttons: [{
                            label: 'Aceptar',
                            action: function(dialogRef){
                                window.open('/recetas/baja/'+id+'',"_self");
                                dialogRef.close();
                            }},{
                            label: 'Cancelar',
                            action:function(dialogRef){
                            dialogRef.close();
                            }
                        }]
                     });
            }
        });



    });
</script>
{% endblock %}

