{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Zonas</b></font></p></div>
           <div class="panel-body">
                <form method="get" class="form-inline col-md-12">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" value="{{filtros.nombre}}" name="nombre" id="nombre" placeholder="nombre">
                    </div>
                    <button type="submit" class="btn btn-default">Filtrar</button>
                </form>
            <div class="row">
                <div class="col-md-10">
                    <p>&nbsp;</p>
                          <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                            </tr>
                            </thead>
                              <tbody>
                                {% for zona in zonas %}
                                <tr>
                                    <td>{{zona.nombre}}</td>
                                    <td>  <a type="button" href="{% url 'zonaConsulta' zona.id %}" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true">    </span></a></td>
                                    <td>  <a type="button" href ="{% url 'zonaModificar' zona.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span></a></td>
                                    <td>  <a  type="button" class="btn btn-danger "><span class="glyphicon glyphicon-trash" aria-hidden="true">    </span></a></td>
                                </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                </div>
                  <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <a  href ="proveedoresConsulta" type="button" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true">  </span></a>
                        <a href ="proveedoresModificar" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span></a>
                        <a  type="button" class="btn btn-danger "><span class="glyphicon glyphicon-trash" aria-hidden="true">    </span></a>
                  </div>
                <p></p>
                     <a class="btn" href = "{% url 'zonasAlta' %}"><font face="tahoma" size="2" color="green"><b><span  class="glyphicon glyphicon-ok" aria-hidden="true"> Agregar </span></b></font></a>
            </div>
            <hr/>

        </div>

    </div>

</div>

{% endblock %}