<!DOCTYPE HTML PUBLIC>
<html>
    <head>
        <title>Listado de estancias</title>
        <style type="text/css">
            @page {
                size: letter;
                margin: 2cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 9cm;
                    margin-right: 9cm;
                    height: 1cm;

                }

            }
            @page land{
                   size:landscape;
                   }
        </style>
    </head>
    <body>
        <div>
            <h4 style="text-align:middle;"> <font size = "6"color = "#0101DF">Hoja De Ruta</font></h4>
            <h4 style="text-align:right;"> <font size = "4" color = "000000"> Fecha:</font> {{date}}</h4>
   
            <h4 class="panel-title pull-left" style="padding-top: 10.5px;"> <font size = "6"color = "#424242">Listado de Entregas</font></h4>
            </div>

            <div class="panel-body">
                <table  class="table table-striped table-bordered table-condensed" cellpadding="5px" cellspacing="5px" border="1" id="tableLote">
                    <thead>
                        <tr>
                            <th style="text-align:center;" width="15%" font size = "6">Pedido</th>
                            <th style="text-align:center;" width="15%" font size = "6">Cliente</th>
                            <th style="text-align:center;" width="15%" font size = "6">
                                <table style="border-collapse: collapse;">
                                    <tr style=" border-bottom-style:solid; border-bottom-color:black; border-bottom-width:1px;">
                                        <td colspan="3">Productos Llevados</td>
                                    </tr>
                                    <tr style="padding-top:5px;">
                                        <td style="border-right-style:solid; border-right-color:black; border-right-width:1px;">asd</td>
                                        <td style="border-right-style:solid; border-right-color:black; border-right-width:1px;">sa</td>
                                        <td >as</td>
                                    </tr>


                                </table>
                            </th>
                            <th style="text-align:center;" width="10%" font size = "6">Direccion</th>
                            <th style="text-align:center;" width="22%" font size = "6">Productos Entregados</th>
                            <th style="text-align:center;" width="22%" font size = "6">Cobros</th>
                        </tr>
                        {% for entrega in hoja.entrega_set.all %}
                        <tr>
                            <td style="text-align:center;" width="15%" size = "6">{{entrega.pedido.get_tipo_pedido_display}}</td>
                            <td style="text-align:center;" width="15%" size = "6">Cuit-{{entrega.pedido.cliente.cuit_cuil}}</td>
                            <td style="text-align:center;" width="15%" size = "6">{{Provincia}}</td>
                            <td style="text-align:center;" width="15%" size = "6">{{Provincia}}</td>
                            <td style="text-align:center;" width="10%" size = "6">{{entrega.pedido.cliente.direccion}}</td>
                            <td style="text-align:center;" width="22%" size = "6">{{dato.Representante}}</td>
                            <td style="text-align:center;" width="22%" size = "6">{{dato.Productor}}</td>
                        </tr>
                        {% endfor %}
        </div>
        
        <div id="footerContent">
            {%block page_foot%}
                Página <pdf:pagenumber>
            {%endblock%}
        </div>
    </body>
</html>