{% load staticfiles %}
<!DOCTYPE HTML>
<html >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Mia Pastas SRL</title>
         <!-- {% block stylesheet %}{% endblock %} -->
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "font-awesome-4.4.0/css/font-awesome.min.css" %}"> <!-- para poner iconos varios -->
        <link rel="stylesheet" href="{% static "css/bootstrap-social.css" %}"> <!-- para poner iconos varios -->
        <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}"> <!-- para poner iconos varios -->
        <link rel="stylesheet" href="{% static "css/estilos_propios.css" %}">
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-dialog.css" %}" >
        <script type="text/javascript">
            function abrirModalDocumentacion(url){
             frame = $("#frameDocumentacion");
             frame.attr("src",url);
             $("#myModal").modal("show");

             }
        </script>
    </head>


    <!-- inicio del cuerpo -->
    <body style="background-color:white;">
    <div class="cabecera">

            <!-- imagen de mia pastas -->
            <div style="float:left;">
                <img src="{% static "images/miaspastas.png" %}" alt="aca va el logo mia pastas" />
			</div>

            <!-- menu desplegable de la cabecera -->

            <!-- boton desplegable "Usuario" -->
			<div class="dropdown" style="float:right;">
              <button class="btn btn-success btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-user" aria-hidden="true">    Usuario    <br> <br/></span>

                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Ver Informacion</a></li>
                  <li role="separator" class="divider"></li>
                <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>

              </ul>
            </div>
        <!-- boton "Contacto" -->
            <div style="float:right;">
            <button class="btn btn-success btn-lg" type="button">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true">    Contacto    <br> <br/></span>


              </button>
            </div>
        <!-- boton "Documentacion " -->
            <div style="float:right;">
            <a href = "javascript:abrirModalDocumentacion('{% static "documentacion/_build/html/index.html" %}')" class="btn btn-success btn-lg" type="button">
                <span class="glyphicon glyphicon-registration-mark" aria-hidden="true">   Documentacion    <br> <br/></span>


              </a>
            </div>
        <!-- boton "Home" va a la pagina principal-->
            <div style="float:right;">
            <a href="index" class="btn btn-success btn-lg" type="button">
                <span class="glyphicon glyphicon-home" aria-hidden="true">    Home    <br> <br/></span>


              </a>
            </div>

            <div style="clear:both;"></div>

		</div>




<!-- barra de menu -->
<div class="container">

      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

<!-- Hasta aca es al pedo lo de arriba, lo unico que sirve es el container -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

<!-- lista desplegable de Recetas -->
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recetas<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{%url 'recetas'%}">ABM Recetas</a></li>
            <!--<li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>-->
          </ul>
          </li>

<!-- lista desplegable de Produccion -->
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produccion<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{%url 'lotes'%}">ABM Produccion</a></li>
            <!--<li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>-->
          </ul>
          </li>



<!-- lista desplegable de Clientes y Pedidos -->
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clientes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{%url 'clientes'%}">ABM Clientes</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{%url 'pedidosCliente'%}">ABM Pedidos Clientes</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{%url 'cobrarCliente'%}">Cobrar a Cliente</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{%url 'ciudades'%}">ABM Ciudades</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{%url 'zonas'%}">ABM Zonas</a></li>
          </ul>
          </li>

<!-- lista desplegable de Productos terminados -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos Terminados<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{%url 'productosTerminados'%}">ABM Productos Terminados</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{%url 'productosTerminadosActualizarPrecio'%}">Modificar Precio</a></li>
          </ul>
          </li>

<!-- lista desplegable de Insumos -->
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Insumos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{%url 'insumos'%}">ABM Insumos</a></li>
            <li role="separator" class="divider"></li>
            <li><a href= "{%url 'ModificarStockInsumos' %}">Modificar Stock de Insumo</a></li>
          </ul>
          </li>
<!-- lista desplegable de Proveedores -->
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proveedores<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{%url 'proveedores'%}">ABM Proveedores</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{%url 'pedidosProveedor'%}">ABM Pedidos Proveedores</a></li>


          </ul>
          </li>
<!-- lista desplegable de Choferes-->
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Choferes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{%url 'choferes'%}">ABM Choferes</a></li>
          </ul>
          </li>
<!-- lista desplegable de Reparto -->
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reparto<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{%url 'hojaDeRuta'%}">Generar Hoja de Ruta</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{%url 'rendicionReparto'%}">Registrar Rendicion del Reparto</a></li>

          </ul>
          </li>
<!-- lista desplegable de Listados -->
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listados<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Listado 1</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Listado 2</a></li>
          </ul>
          </li>




      </ul>



    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div> <!-- /container -->


{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}





<!--
{% for message in messages %}
    <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %}">
        {# close-href is used because href is used by bootstrap to closing other divs #}
        <a class="close" data-dismiss="alert"{% if message.pk %} close-href="{% url message_mark_read message.pk %}"{% endif %}>×</a>
        {{ message }}
    </div>
{% endfor %}-->

{% block contenido %}{% endblock %}

<div class="container marketing">
    <!-- FOOTER -->
      <footer class="col-md-12">
        <p class="pull-right"><a href="#">Back to top</a></p><br></br>
          <div>
            <!--
              <a href=""  ><i class="fa fa-facebook-official fa-3x" ></i></a>
              <a href="" style="color:#dd4b39;"><i class="fa fa-google-plus-square  fa-3x" ></i></a>
              <a href=""><i class="fa fa-twitter-square fa-3x" style="color:#00aced;"></i></a>
              -->


              <input title= "Gmail" href="#" type = image src ="{% static "images/gmail.png" %}" alt="aca va el logo mia pastas" height = "40" ></input>
            <input title= "Twitter" href="#" type = image src ="{% static "images/twitter.png" %}" alt="aca va el logo mia pastas" height = "40"  ></input>
            <input title= "Facebook" href="#" type = image src ="{% static "images/facebook.png" %}" alt="aca va el logo mia pastas"  height = "40" ></input>

        </div>
        <p><i><small>Mia Pastas S.R.L.© 2015. Designed by Calfuquir Nicolas - Gómez Agustina - James Kevin - Lecuna Facundo - Parra Iván. Todos los derechos reservados.</small> </i> </p>




      </footer>



        </div><!-- /.container -->
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/jquery-ui.js" %}"></script>
        <script src="{% static "js/jquery.tpl.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/underscore.js" %}"></script>
        <script src="{% static "js/underscore-min.js" %}"></script>
        <script src="{% static "js/funciones_propias.js" %}"></script>




        <script src="{% static "js/bootstrap-dialog.js" %}"></script>
        {% block javascript %}{% endblock %}
        <script>


          $(function() {
            $(".datepicker").datepicker();
          });
          $(".alert").delay(5000).fadeOut();
        </script>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <iframe style="height:500px; width:500px;" id="frameDocumentacion" src=""></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>





	</body>
</html>