{% extends 'base.html' %}
{% load staticfiles %}

{% block contenido %}
<!-- Este es el formulario de recetas -->
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Choferes</b></font></p></div>
  <div class="panel-body">
      <!-- formulario -->
      <form class="form-inline">
          <div class="form-group">
            <label for="exampleInputName2">Cuit/Cuil</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">Nombre</label>
            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">Apellido</label>
            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
          </div>


          <label>

          </label>

          <button type="submit" class="btn btn-default">Filtrar</button>
      </form>
          <p>&nbsp;</p>
      <div class="row">
          <div class="col-md-10">
          <table class="table table-hover">
            <thead>
            <tr>
                <th>Cuit/Cuil</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>e-mail</th>
            </tr>
            </thead>
              <tbody>

              <tr>
                  <td>cuit cuil1</td>
                  <td>nombre1</td>
                  <td>direccion1</td>
                  <td>telefno1</td>
                    <td>email1</td>

              </tr>
          </tbody>
          </table>
          </div>
      <div class="col-md-2">
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <a href="choferesModificar" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span></a>
              <a type="button" class="btn btn-danger "><span class="glyphicon glyphicon-trash" aria-hidden="true">    </span></a>
          </div>
          <p></p>
          <a class="btn" href="choferesAlta"><font face="tahoma" size="2" color="green"><b><span  class="glyphicon glyphicon-ok" aria-hidden="true"> Agregar </span></b></font></a>
          <p></p>
</div>
          </div>
      <hr/>

  </div>

</div>
</div>

    <!-- Este es el fin del formulario de recetas -->





{% endblock %}
