{% extends 'base.html' %}
{% load staticfiles %}
{% block contenido %}

<form action="">
<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Alta Ciudad</b></font></p></div>

        <div class="panel-body">
              <!-- formulario -->
            <!--<form class="form-inline"> -->
            <form class=" form-horizontal col-md-12">


                <div class="form-group col-md-6">

                        <label for="exampleInputName2">Codigo Postal</label>
                        <input type="text" class="form-control" id="inputEmail4" required autofocus>
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputName2">Nombre</label>
                    <input type="text" class="form-control" id="inputEmail4" required>
                </div>





            </form>
            <p>&nbsp;</p>
            <div class="col-md-10">

           <h2>Zona</h2>
           <div class="row col-md-4">
              <select class="form-control">
                  <option>Zona1</option>
                  <option>Zona2</option>

                </select>

               </div>
           <div class="col-md-2 pull-left"></div>
</div>

            <p>&nbsp;</p>

            <div class="row"></div>
            <hr/>
                <button class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-ok" aria-hidden="true"> Guardar </span></b></font></button>
                <button class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></button>
            </div>

    </div>
</div>
</form>

    <!-- Este es el fin del formulario de recetas -->





{% endblock %}
