{% extends 'base.html' %}
{% load staticfiles %}

{% load bootstrap3 %}

{% block contenido %}



<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Descripción del Cliente</b></font></p></div>
  <div class="panel-body">
      <!-- formulario -->




      <form role="form">
                  <div class="form-group">
                    <label for="cuit_cuil">Cuit/Cuil</label>
                    <input type="text" value="{{cliente.cuit_cuil}}"  class="form-control" id="cuit_cuil" readonly>
                  </div>
                  <div class="form-group">
                    <label for="razon_social">Razón Social</label>
                    <input type="text" value ="{{cliente.razon_social}}" class="form-control" id="razon_social" readonly>
                  </div>
                 <div class="form-group">
                    <label for="nombre_dueño">Nombre del Dueño</label>
                    <input type="text" value ="{{cliente.nombre_dueno}}" class="form-control" id="nombre_dueño" readonly>
                  </div>
                  <div class="form-group">
                    <label for="tipo_cliente">Tipo de Cliente</label>
                    <input type="text" value ="{{cliente.get_tipo_cliente_display}}" class="form-control" id="tipo_cliente" readonly>
                  </div>


                  <div class="form-group">
                    <label for="ciudad">Ciudad</label>
                    <input type="text" value ="{{cliente.ciudad}}" class="form-control" id="ciudad" readonly>
                  </div>

                  <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" value ="{{cliente.direccion}}" class="form-control" id="direccion" readonly>
                  </div>
                  <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="text" value ="{{cliente.telefono}}" class="form-control" id="telefono" readonly>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" value ="{{cliente.email}}" class="form-control" id="email" readonly>
                  </div>
                  <div class="form-group">
                    <label for="es_moroso">Es moroso</label>
                    <input type="text" value ="{{cliente.es_moroso}}" class="form-control" id="es_moroso" readonly>
                  </div>
                   <div class="form-group">
                    <label for="saldo">Saldo</label>
                    <input type="text" value ="{{cliente.saldo}}" class="form-control" id="saldo" readonly>
                  </div>
        </form>
      <a href="javascript:history.back()" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>






  </div>

</div>
</div>

    <!-- Este es el fin del formulario de recetas -->





    {% endblock %}