{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Descripción del Cliente</b></font></p></div>
  <div class="panel-body">
      <form class="form-horizontal">
                  <div class=" form-group">
                    <label  class="col-sm-2 control-label">Razon Social:</label>
                    <div class="col-sm-10" style="padding:7px;">
                       {{cliente.razon_social}}
                    </div>
                  </div>

                  <div class=" form-group">
                    <label  class="col-sm-2 control-label">Dueño:</label>
                    <div class="col-sm-10" style="padding:7px;">
                       {{cliente.nombre_dueno}}
                    </div>
                  </div>

                  <div class=" form-group">
                    <label  class="col-sm-2 control-label">Ciudad:</label>
                    <div class="col-sm-10" style="padding:7px;">
                       {{cliente.ciudad}}
                    </div>
                  </div>
                 
                  <div class=" form-group">
                    <label  class="col-sm-2 control-label">Direccion:</label>
                    <div class="col-sm-10" style="padding:7px;">
                       {{cliente.direccion}}
                    </div>
                  </div>
                  
                  <div class=" form-group">
                    <label  class="col-sm-2 control-label">Telefono:</label>
                    <div class="col-sm-10" style="padding:7px;">
                       {{cliente.telefono}}
                    </div>
                  </div>

                  
                  <div class=" form-group">
                    <label  class="col-sm-2 control-label">E-Mail:</label>
                    <div class="col-sm-10" style="padding:7px;">
                       {{cliente.email}}
                    </div>
                  </div>

                  <div class=" form-group">
                    <label  class="col-sm-2 control-label">Saldo:</label>
                    <div class="col-sm-10" style="padding:7px;">
                       {{cliente.saldo}}
                    </div>
                  </div>

                  {%if cliente.es_moroso%}
                  <h1>
                      El cliente es Moroso
                  </h1>  
                     {%endif%}                                    
        </form>
      <a href="javascript:history.back()" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>
  </div>
</div>
</div>
{% endblock %}