{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Hoja de Ruta</b></font></p></div>
  <div class="panel-body">
           <form class="form-horizontal" action="{% url 'hojaDeRutaAlta' %}" onsubmit="return validar()" method="post">
                     {% csrf_token %}
                     {{ extras_form_factory.management_form }}
                     {{ entregas_form_factory.management_form }}         


            <div class=" form-group">
                <label  class="col-sm-2 control-label">Fecha:</label>
                <div class="col-sm-10" style="padding:7px;">
                     {{fecha}}
                 </div>
            </div>
                <div class="form-group">
                        <label class="col-sm-2 control-label" for="chofer">Chofer</label><!-- automaticamente debe mostrar solo los choferes disponibles, sin hoja de ruta asignada -->
                         <div class="col-sm-2">
                              <select class="form-control "  id="chofer" name="chofer" required="required">
                                  <option value="">--------</option>
                                  {% for chofer in choferes %}
                                  <option value="{{chofer.id}}">{{chofer.nombre}}</option>
                                  {% endfor %}
                              </select>
                         </div>
                   </div>
               <tr>
          <p>&nbsp;</p>
      <div class="row">
          <div class="col-md-6" style="overflow-y:scroll; max-height:450px;">
          <table class="table table-hover" id="datatables" class="display">
                <thead>
                    <h1>Pedidos para el día</h1>
                    <tr>
                        <th>N° Pedido</th>
                        <th>Razon Social</th>
                        <th>Ciudad</th>
                        <th>Zona</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    <tr class="renglon select-item cliente-{{pedido.cliente.cuit}}" 
                        data-cliente="{{pedido.cliente.cuit}}" 
                        data-id="{{pedido.id}}" id="renglon-{{pedido.id}}">
                        <td>{{pedido.id}}</td>
                        <td>{{pedido.cliente.razon_social}}</td>
                        <td>{{pedido.cliente.ciudad.nombre}}</td>
                        <td>{{pedido.cliente.ciudad.zona.nombre}}</td>
                        <td><a href="{% url 'pedidoClienteConsulta' pedido.id %}"><button type="button" class=" glyphicon glyphicon-zoom-in pull-left"></button></a></td><!-- Trigger the modal with a button -->
                    </tr>
                    {% endfor %}
                </tbody>
          </table>    


          </div>
          <div class="col-md-1">
              <div class="btn background-position:top center" role="group" aria-label="..." >
              <button type="button" onclick="agregarHojaDeRuta()" class="btn btn-success pull-right"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true">    </span></button>
              <button type="button" onclick="quitarHojaDeRuta()" class="btn btn-danger pull-left"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"> </span></button>
          </div>
          <p></p>
          </div>
          <div class="col-md-5">
              <table id="tablaPedidosAsignados" class="table table-hover">
                    <thead>
                        <h1>Pedidos asignados</h1>
                        <tr>
                            <th>N° Pedido</th>
                            <th>Razon Social</th>
                        </tr>
                    </thead>
                    <tbody id="cuerpoPedidosAsignados" class="asignados">
                    </tbody>
              </table>
          </div>

          </div>
      <div class="row">
          <div class="col-md-7">
          
          </div>
          <div class="col-md-5">
              <div>
                    <!-- Trigger the modal with a button -->
              <button type="button" class=" glyphicon glyphicon-shopping-cart pull-right btn btn-info hola" 
                      data-toggle="modal" data-target="#ModalProductosExtra"> Agregar extras</button>


            <table class="table table-hover">
            <thead>
            <h1>Totales para envio</h1>
            <tr>
                <th>Producto Terminado</th>
                <th>Cantidad Bolsines</th>
            </tr>
            </thead>
              <tbody id="cuerpoTotalesPedidos" class="totales">
          </tbody>
          </table>
          </div>
              <hr>
              <row>
                  <div class="form-group col-md-6">
            <label for="bolsines_total">Total bolsines</label>
            <input type="text" class="form-control" id="bolsines_total" readonly>
          </div>
                  </row>
          </div>

      </div>
       <div>         
               <div id="pedidos_hidden"></div>
               {% buttons %}
                    <button id = "btn-submit" type="submit" class="btn btn-primary pull-right">
                        {% bootstrap_icon "star" %} Crear Hoja
                    </button>
                {% endbuttons %}
           </form>


           <!-- Modal de PRODUCTOS EXTRAS -->
            <div id="ModalProductosExtra" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Agregar productos extra</h2>
                  </div>
                  <div class="modal-body">
                    <div class="form-group col-md-5">
                        <label for="select_productos">Producto Terminado</label>
                          <select class="form-control" id="select_productos">
                              <option>--------</option>
                              {% for producto in productos %}
                              <option value="{{producto.id}}">{{producto.nombre}}</option>
                                {% endfor %}
                          </select>

                   </div>
                      <div class="form-group col-md-5">
                            <label for="cantidad_producto">Cantidad a agregar</label>
                            <input type="text" class="form-control" id="cantidad_producto" placeholder="cantidad" >
                          </div>
                      <div class="form-group col-md-1">
                            <label for="exampleInputEmail2"></label>
                            <button type="button" id="add-detalle-extra" class="boton_bottom btn btn-success pull-down"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true">    </span></button>

                          </div>

                      <table class="table table-hover ">
                        <thead>
                        <h3 class="col-md-12">Detalle de productos extras</h3>
                        <tr>
                            <td style="display:none;">aafsf</td>
                            <th>Producto Terminado</th>
                            <th>Cantidad Bolsines</th>
                        </tr>
                        </thead>
                          <tbody id="tabla_extras">
                      </tbody>
                      </table>
                  </div>
                  <div class="modal-footer">
                      <button type="button" onclick="generarTotales()" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                     <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button> -->
                  </div>
                </div>




      </div>
  </div>

</div>
</div>
</div>
</div>
    <!-- Este es el fin del formulario de recetas -->

{% endblock %}
{% block javascript %}
<script>
var id;
var id_asignado;
var $el;
var $el_asignado;
var pedidosAsignados=[];

var productos_extras=[];
var prefix_extras = "{{prefix_extras}}";
var prefix_entregas = "{{prefix_entregas}}";

var totales_productos=[];
var totales_cantidades=[];
var totales_datos=[];




        $(function() {

        var estado;
        function obtenerId(event) {
            $(".select-item-asignados").removeClass("danger");
            id_asignado=undefined;
            $el = $(this);          //con this se referencia al objeto de clase select-item que ocaciono el evento, el id se define en el html
            id = $el.data()["id"];
         // estado = $el.data()["estado"]; //obtengo el estado del pedido donde hice click
         // console.log(estado)
            $el.addClass("danger");
            var _renglon = "";
            _renglon= "#renglon-"+id;
            $(".select-item").removeClass("danger");        //quito la clase active, para q se deseleccionen
            $(_renglon).addClass("danger");
        }

        $(".select-item").click(obtenerId);     //todos los elementos de clase "selec-item", al hacerles clic se ejecuta "obtenerId"
        $(".asignados").on("click",".select-item-asignados",obtenerId_asignado);    //on() permite manejar eventos de elementos que se crean dinamicamente en el futuro,


       function obtenerId_asignado(event) {
            $(".select-item").removeClass("danger");
            id=undefined;
            $el_asignado = $(this);          //con this se referencia al objeto de clase select-item que ocaciono el evento, el id se define en el html
            id_asignado = $el_asignado.data()["id"];
            $el_asignado.addClass("danger");
            var _renglon = "";
            _renglon= "#renglon_asignado-"+id_asignado;
            $(".select-item-asignados").removeClass("danger");        //quito la clase active, para q se deseleccionen
            $(_renglon).addClass("danger");

        }

       });

        function agregarHojaDeRutaMismoCliente(){
            var nro_pedido;
            var razon_social;
            var cont = 0;
            $el.hide(); // en vez de hide se puede usar remove(), para que se muestre es con show()
            $el.find('td').each (function() {
              if(cont==0)
                nro_pedido = $(this).html();//me muestra el codigo html del objeto al que esta asignado
              if(cont==1)
                razon_social = $(this).html();
              cont=cont+1;
            });
            var razon_social_clase = razon_social;
            razon_social_clase.trim();  //quito los espacios en blanco porque sino no lo puedo usar como una clase
            var cliente = $el.data()["cliente"];
            $('#tablaPedidosAsignados').append('<tr class="renglon select-item-asignados cliente-'+razon_social_clase+'" data-clase='+razon_social_clase+'  data-cliente='+cliente+' data-id='+nro_pedido+' id="renglon_asignado-'+nro_pedido+'"><td>'+nro_pedido+'</td><td>'+razon_social+'</td></tr>');

            }


       function agregarHojaDeRuta(){
            var nro_pedido;
            var razon_social;
            var cont = 0;
            $el.hide(); // en vez de hide se puede usar remove(), para que se muestre es con show()
            var original=$el.data()["id"];

            $el.find('td').each (function() {
              if(cont==0)
                nro_pedido = $(this).html();//me muestra el codigo html del objeto al que esta asignado
              if(cont==1)
                razon_social = $(this).html();
              cont=cont+1;
            });

            var razon_social_clase = razon_social;
            razon_social_clase.trim();  //quito los espacios en blanco porque sino no lo puedo usar como una clase
            var cliente = $el.data()["cliente"];
            $('#tablaPedidosAsignados').append('<tr class="renglon select-item-asignados cliente-'+razon_social_clase+'" data-clase='+razon_social_clase+'  data-cliente='+cliente+' data-id='+nro_pedido+' id="renglon_asignado-'+nro_pedido+'"><td>'+nro_pedido+'</td><td>'+razon_social+'</td></tr>');
                $(".cliente-"+cliente+"").each(function(){
                    if((original != $(this).data()["id"])){   //agrego todos los de cliente menos el que ya cargue arriba
                        $(this).trigger("click");   //simulo click de esos elementos
                        console.log($(this));
                        agregarHojaDeRutaMismoCliente();
                    }
                })
            $el=null;
            generarTotales();   //actualizo tabla de totales
       }

       function quitarHojaDeRuta(){
            cliente_show= $el_asignado.data()["cliente"];
            var clase=$el_asignado.data()["clase"];
            $('.cliente-'+clase+'').remove();
            $el_asignado=null;
            $('.cliente-'+cliente_show+'').show();
            generarTotales();
       }


       function generarHoja(){       
           pedidosAsignados = [];
           $('#cuerpoPedidosAsignados').find('tr').each(function(){
                var cont = 0;
                $(this).find('td').each(function(){
                    if (cont == 0){
                        pedidosAsignados.push($(this).html());  //agrego los id de los pedidos que se deben agregar a la hoja de ruta
                    }
                    cont=1;
                }
                )
           });


           }


        function generarTotales(){
            generarHoja();
            console.log(pedidosAsignados);
            totales = {};
            datos = {};
            var myJsonString = JSON.stringify(pedidosAsignados);
            console.log("json a enviar: "+myJsonString);
            $.ajax({
                type: 'get',
                data : {                     
                     'pedidos': myJsonString
                 },
                dataType: 'json',
                url: 'hojaDeRuta/generarTotales',
                success: function(json){
                    totales_productos = _.keys(json.datos);   //_.keys devuelve en una lista todos las claves del diccionario
                    totales_cantidades = _.values(json.totales);
                    totales_datos = _.values(json.datos);
                    agregar_extra_totales();
                    mostrarTotales();
                    }
            });
        }

        function agregar_extra_totales(){
            $('#tabla_extras').find('tr').each(function(){
                id_elemento = $(this).find("td").eq(0).html();
                elemento = $(this).find("td").eq(1).html();
                elemento_siguiente=$(this).find("td").eq(2);
                elemento_siguiente=$(elemento_siguiente).find("input").val();
                var index = _.indexOf(totales_datos,elemento);
                if (index == -1){
                    console.log("estoy en elemento nuevoooooo")
                    totales_productos.push(id_elemento);
                    totales_datos.push(elemento);
                    totales_cantidades.push(parseInt(elemento_siguiente));
                }
                else{
                    totales_cantidades[index]+= parseInt(elemento_siguiente);
                }
                }
                )

        }

        function mostrarTotales(){
            $("#cuerpoTotalesPedidos tr").remove();
            var total=0;
            for(i=0;i< totales_cantidades.length;i++){
                $('#cuerpoTotalesPedidos').append('<tr ><td>'+totales_datos[i]+'</td><td>'+totales_cantidades[i]+'</td></tr>');
                total=total+parseInt(totales_cantidades[i]);
            }

            $('#bolsines_total').val(total);
        }


      $("#add-detalle-extra").click(function(){
            var cantidad = $("#cantidad_producto").val();
            var producto = $("#select_productos").val();
            var texto = document.getElementById('select_productos').options[document.getElementById('select_productos').selectedIndex].text;
            if ((cantidad == "") || (producto == "")){
                alert("Debe llenar todos los campos");
            }else{
                if (!esEnteroPositivo(cantidad)){
                     alert("debe ingresar una cantidad valida");
                }else{
                     var ins = _.find(productos_extras,{producto:producto});
                     if (ins != undefined){
                        alert("Producto ya cargado");
                     }else{
                        var id_prod = document.getElementById('select_productos').value;
                        var nombre_prod = $('#select_productos option:selected').text();
                        $('#tabla_extras').append('<tr id="'+id_prod+'"><td style="display:none;">'+id_prod+'</td><td>'+nombre_prod+'</td><td><input class="cantidades_tablas" id="cantidad-'+id_prod+'" onchange="cambio_cantidad(this)"  name="cantidad-'+id_prod+'" value="'+document.getElementById('cantidad_producto').value+'" type="text"></td><td><button type="button"  class="btn-eliminar" onClick= "eliminar('+id_prod+')">Eliminar</button></td><td><button type="button" class="btn-modificar" onClick= "modificar('+id_prod+')">Modificar</button></td></tr>');
                        productos_extras.push({"producto":document.getElementById('select_productos').value,"cantidad":document.getElementById('cantidad_producto').value});
                        det = productos_extras[0];
                        d = det.cantidad;
                     }
                }
            }
      });

      function eliminar(id){
        $('#'+id+'').remove();  //elimino de la tabla
        productos_extras = _.reject(productos_extras, function(d){ return d.producto == id; });  //elimina de la lista los elementos verdaderos de function
      }

      function modificar(id){
            var nueva_cantidad = $("#cantidad-"+id).val();
            id_input = document.getElementById("cantidad-"+id);
            var index = _.indexOf(productos_extras,_.findWhere(productos_extras, function(d){return d.producto==id;}));
            productos_extras = modificar_cantidad_arreglo(productos_extras,nueva_cantidad,id_input,index);
        //con _.findWhere(productos_extras, function(d){return d.producto==id;}) se obtiene el objeto de la lista q cumple con la funcion
      }

        function altaHojaRuta(){
             var html="";
             $(pedidosAsignados).each(function(i,val){
                html = html + armar_hidden(prefix_entregas,val,"pedido",i);
             });
            // $("#pedidos_hidden").html(html);
            console.log("cantiddddd ",totales_cantidades);
            console.log("proddd ",totales_productos);
             $(totales_cantidades).each(function(i,val){
                html = html + armar_hidden(prefix_extras,totales_cantidades[i],"cantidad_pedida",i);
                html = html + armar_hidden(prefix_extras,totales_productos[i],"producto_terminado",i);
                console.log("------------------------");
                var aux = _.find(productos_extras,function(v){
                                return v.producto == totales_productos[i];
                });
                console.log("auxxxxxxx");
                console.log(aux);
             });
            $("#pedidos_hidden").html(html);
            console.log(_.size(totales_cantidades));
            document.getElementById("id_"+prefix_extras+"-TOTAL_FORMS").value = _.size(totales_cantidades);
            document.getElementById("id_"+prefix_entregas+"-TOTAL_FORMS").value = _.size(pedidosAsignados);

             console.log($("#pedidos_hidden"));
        }

        function validar(){

            if(pedidosAsignados.length == 0){
                BootstrapDialog.show({
                    title: "Error",
                    cssClass: 'error-dialog',
                    message: "Debe cargar almenos un pedido a la hoja de ruta",
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                            label: 'Aceptar',
                            action: function(dialogRef){
                                dialogRef.close();
                            }
                    }]
            });
            return false;
            }
            else{
                altaHojaRuta();
            }
        }







</script>
{% endblock %}
