{% extends 'base.html' %}
{% load staticfiles %}
{% block contenido %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Hoja de Ruta {{hoja_ruta.fecha}}</b></font></p></div>
            <div class="panel-body">
                <form class=" form-horizontal">

                        <div class=" form-group">
                            <label  class="col-sm-2 control-label">Hoja de Ruta {{hoja_ruta.id}}</label>
                        </div>
                        <div class=" form-group">
                            <label class="col-sm-2 control-label">Chofer</label>
                            <div class="col-sm-10">
                                {{hoja_ruta.chofer}}
                            </div>
                        </div>

                        <table class="table table-hover">
                             <thead>
                                <tr>
                                   <th>Pedido</th>
                                   <th>Cliente</th>
                                   <th>Direccion</th>
                                    <th>Productos</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for entrega in hoja_ruta.entrega_set.all %}
                                <tr>
                                    <td>{{entrega.pedido.id}}</td>
                                    <td>{{entrega.pedido.cliente}}</td>
                                    <td>{{entrega.pedido.cliente.direccion}}</td>
                                    <td align="center">
                                        <table  cellspacing="2" cellpadding="2" border="2">
                                            {%for detalle_entrega in entrega.entregadetalle_set.all %}
                                                 <tr>
                                                    <td>{{detalle_entrega.pedido_cliente_detalle.producto_terminado}} </td>
                                                 </tr>
                                                 {%for lote_entrega_detalle in detalle_entrega.loteentregadetalle_set.all  %}
                                                      <tr>
                                                        <td> Lote-{{lote_entrega_detalle.lote.nro_lote}}<td>
                                                        <td> {{lote_entrega_detalle.cantidad}} Bolsines <td>
                                                      </tr>
                                                 {% endfor %}
                                            {% endfor %}
                                            </table>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                         </table>

                </form>>

            </div>
        </div>
            <a href="javascript:history.back()" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>
    </div>
</div>

{% endblock %}
