{% extends 'base.html' %}
{% load staticfiles %}

{% load bootstrap3 %}

{% block contenido %}


<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Modificar Insumo</b></font></p></div>
           <p>&nbsp;</p>
                <form action="{% url 'insumoModificar' id %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form insumo_form layout='horizontal' %}
                    <p>&nbsp;</p>
                        {% buttons %}
                            <button type="submit" class="btn btn-primary" >
                                {% bootstrap_icon "star" %} Aceptar
                            </button>
                        <a href="{%url 'insumos' %}" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></button>
                        {% endbuttons %}
                 </form>
    </div>
</div>
{% endblock %}
