{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load recetas %}
{% block contenido %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Listado de Clientes Morosos</b></font></p></div>
            <div class="panel-body">
                 <!--Formulario del FILTRO-->
            <div class="row">
                 <form method="get" class="form-inline col-md-5" action="{% url 'listadoClientesMorososFiltros' %}">
                    <div class="form-group">
                        <label for="saldo">Saldo (Mayor igual)</label>
                        <input type="number" class="form-control" value="{{filtros.saldo}}" name="saldo" id="saldo" >
                    </div>



                    <button type="submit" class="btn btn-default">Filtrar</button>
                                         <p>&nbsp;</p>

                  </form>
                  <form method="get" class="form-inline col-md-1" action="{% url 'listadoClientesMorosos' %}">
                      <button type="submit" class="btn btn-default">Filtrar Todos</button>
                                         <p>&nbsp;</p>
                  </form>
            </div>
            <div class="row">
                <div class="col-md-10" style="overflow-y:scroll; max-height:350px;">
                    <p>&nbsp;</p>
                          <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Cuit</th>
                                <th>Razon Social</th>
                                <th>Ciudad</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Monto adeudado</th>
                            </tr>
                            </thead>
                              <tbody>
                                {% for cliente in clientes %}
                                <tr class="renglon select-item" data-id="{{cliente.id}}" id="renglon-{{cliente.id}}">
                                    <td>{{cliente.cuit}}</td>
                                    <td>{{cliente.razon_social}}</td>
                                    <td><a href="{% url 'ciudadConsulta' cliente.ciudad.id %}">{{cliente.ciudad}}</a></td>
                                    <td>{{cliente.direccion}}</td>
                                    <td>{{cliente.telefono}}</td>
                                    <td>{{cliente.saldo}}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                </div>

           <div class="col-md-2">
               <a href="{% url 'listadoClientesMorososExcel' %}?saldo={{filtros.saldo}}" class="btn btn-default">Exportar</a>
           </div>
            </div>
            <hr/>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="totalAdeudado">TOTAL ADEUDADO</label>
                        <input type="text" class="form-control"
                               value="{%saldos_totales clientes%}"
                               name="totalAdeudado" id="totalAdeudado" READONLY>

                    </div>
                </div>
        </div>
    </div>
</div>

en cobrar a cliente esta el ejemplo de ajax
hay un errror cuando queres mostrar todos los clientes MORORSOS!!! TE MUESTRA LOS QUE NO SON MOROSOS.
    <!-- Este es el fin del formulario de Listado -->


{% endblock %}