{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load recetas %}
{% block contenido %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Listado de Productos Terminados Disponibles</b></font></p></div>
            <div class="panel-body">
                 <!--Formulario del FILTRO-->
            <div class="row">
                 <form method="get" class="form-inline col-md-5" action="{% url 'listadoProductosMasVendidosFiltros' %}">
                       <!-- <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" value="{{filtros.nombre}}" name="nombre" id="nombre" >
                        </div>-->
                        <div class="form-group">
                        <label for="fecha_desde">Fecha Desde</label>
                        <input type="text" class="form-control datepicker" value="{{filtros.fecha_desde}}" name="fecha_desde" id="fecha_desde">
                        </div>
                        <div class="form-group">
                            <label for="fecha_hasta">Fecha Hasta</label>
                            <input type="text" class="form-control datepicker" value="{{filtros.fecha_hasta}}" name="fecha_hasta" id="fecha_hasta">
                        </div>




                        <button type="submit" class="btn btn-default">Filtrar</button>
                                         <p>&nbsp;</p>

                  </form>
                  <form method="get" class="form-inline col-md-1" action="{% url 'listadoProductosMasVendidos' %}">
                      <button type="submit" class="btn btn-default">Filtrar Todos</button>
                                         <p>&nbsp;</p>
                  </form>
            </div>
            <div class="row">
                <div class="col-md-10" style="overflow-y:scroll; max-height:350px;">
                    <p>&nbsp;</p>

                          <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Nombre del Producto Terminado</th>
                                <th>Cantidad Vendida</th>

                            </tr>
                            </thead>
                              <tbody>

                               {% for a,b in prod.items %}
                                <tr class="renglon select-item" data-id="{{prod.id}}" id="renglon-{{producto.id}}">
                                    <td>{{a}}</td>
                                    <td>{{b}} Bolsines</td>
                                </tr>

                                {% endfor %}

                              </tbody>
                          </table>

                </div>

           <div class="col-md-2">
               <a href="{% url 'listadoProductosMasVendidosExcel' %}?fecha_desde={{filtros.fecha_desde}}&fecha_hasta={{filtros.fecha_hasta}}" class="btn btn-default">Exportar a Excel</a>
           </div>
            </div>
            <hr/>

        </div>
    </div>
</div>

en cobrar a cliente esta el ejemplo de ajax
hay un errror cuando queres mostrar todos los clientes MORORSOS!!! TE MUESTRA LOS QUE NO SON MOROSOS.
    <!-- Este es el fin del formulario de Listado -->


{% endblock %}