
{% load staticfiles %}
<!DOCTYPE HTML>
<html >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Mia Pastas SRL</title>
         <!-- {% block stylesheet %}{% endblock %} -->
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/estilos_propios.css" %}">
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>




    </head>


<body>
        <div class="cabecera">
            <!-- imagen de mia pastas -->
            <div style="float:left;">
                <img src="{% static "images/miaspastas.png" %}" alt="aca va el logo mia pastas" />
			</div>
            <div style="clear:both;"></div>
        </div>



<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title"><font face="tahoma" size="3" color="green"><b>Mía Pastas System</font><font face="verdana" size="1" color="green" ><br>versión 1.0</br></b></font></h1>

            <div class="account-wall">
               <img class="profile-img" src="{% static "images/avatar.png" %}" alt="La imagen no se pudo cargar">
               <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                        {% csrf_token %}
                   <input type="text" class="form-control" id="username" placeholder="Usuario" name="username" data-icon="U" tabindex="1" required autofocus>
                   <input placeholder="Contraseña" class="form-control" type="password" name="password" id="password" data-icon="x" tabindex="2" required>
                   <input class="btn btn-lg btn-success btn-block" type="submit" value="Iniciar Sesión"/> <input type="hidden" name="next"
                                                    value="{{ next }}"/>

                <!-- <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>-->
                    <a href="#" class="pull-right need-help"> ¿Necesita ayuda? </a><span class="clearfix"></span>

               </form>
            </div>
            <a href="{% url 'signup' %}" class="text-center new-account">Crear una Cuenta</a>

        </div>
    </div>

</div>
</body>






<div class="container marketing">
    <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p><br></br>
          <div>
            <input title= "Gmail" href="#" type = image src ="{% static "images/gmail.png" %}" alt="aca va el logo mia pastas" height = "40" ></input>
            <input title= "Twitter" href="#" type = image src ="{% static "images/twitter.png" %}" alt="aca va el logo mia pastas" height = "40"  ></input>
            <input title= "Facebook" href="#" type = image src ="{% static "images/facebook.png" %}" alt="aca va el logo mia pastas"  height = "40" ></input>
        </div>
        <p><i><small>Mia Pastas S.R.L.© 2015. Designed by Calfuquir Nicolas - Gómez Agustina - James Kevin - Lecuna Facundo - Parra Iván. Todos los derechos reservados.</small> </i> </p>

      </footer>



</div><!-- /.container -->

