{% extends 'base.html' %}
{% load staticfiles %}
{% block contenido %}

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Lote-{{lote.nro_lote}} </b></font></p></div>
  <div class="panel-body">
        <form class="form-horizontal">
              <div class=" form-group">
                <label  class="col-sm-2 control-label my_label">Producto:</label>
                <div class="col-sm-10" style="padding:7px;">
                  {{lote.producto_terminado}}
                </div>
              </div>

             <div class=" form-group">
                    <label  class="col-sm-2 control-label">Cantidad Producida:</label>
                    <div class="col-sm-10" style="padding:7px;">
                      {{lote.cantidad_producida}} Bolsines
                  </div>
             </div>
            <div class=" form-group">
                <label  class="col-sm-2 control-label">Fecha de Produccion:</label>
                <div class="col-sm-10" style="padding:7px;">
                  {{lote.fecha_produccion}}
                </div>
            </div>

            <div class=" form-group">
                <label  class="col-sm-2 control-label">Fecha de Vencimiento:</label>
                <div class="col-sm-10" style="padding:7px;">
                  {{lote.fecha_vencimiento}}
                </div>
           </div>
            <div class=" form-group">
                <label  class="col-sm-2 control-label">Stock Disponible:</label>
                <div class="col-sm-10" style="padding:7px;">
                  {{lote.stock_disponible}} Bolsines
                </div>
           </div>
        </form>
      <a class="btn pull-right" href="{%url 'lotes'%}" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>
</div>
</div>
</div>
</div>

{% endblock %}