{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Modificar stock insumo</b></font></p></div>
            <div class="panel-body">
                <form action="{% url 'ModificarStockInsumos' %}" method="post" class="form" onsubmit = "return validar()">
                    {% csrf_token %}
                    {% bootstrap_form insumo_form layout='horizontal' %}
                    <p>&nbsp;</p>
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "star" %} Agregar
                        </button>
                    {% endbuttons %}
      <a href="javascript:history.back()" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>

                </form>
            </div>
    </div>
</div>


{% endblock %}

{% block javascript %}

<script>
var unidad;
var insumo_posta;
var probando=[];
var pedidos = [1,2,3,45,5,6];
var filtro_tuplas = [];





tuplas = {{tuplas_json}};

function validar(){
    console.log("en validar");
    return true;

}

var esconder = function (){
    $(arguments).each(function(index, value) {
        $('#id_unidad_medida option[value=' + value + ']').hide(); 
        });
}
        

var mostrar = function (value){
        $("#id_unidad_medida option[value=" + value + "]").show(); }//)};



function filtrar_tupla(n){
    //$('#id_unidad_medida option[value=' + val + ']').hide(); }); 


    var valor_inicial=undefined;
    $(tuplas).each(function(i,val){
        $(val).each(function(z,v){
            esconder(v);
           if (_.find(tuplas[n-1],function(num){ return num == v; }))  {
                //$(val).each(function(x,c){
                    if (z==1){
                        valor_inicial = v;
                    }
                    mostrar(v);
            }          
        });
    });
    $("#id_unidad_medida").val($("#id_unidad_medida option[value=" + valor_inicial + "]").val());

}




$("#id_insumo").on("change", function() {
    var insumo = $("#id_insumo").val();
    //alert(document.getElementById('id_insumo').value);

    console.log("en ajax");
    console.log("pedidos: "+pedidos);
    var myJsonString = JSON.stringify(pedidos);
    console.log("json a enviar: "+myJsonString);
    $.ajax({
        type: 'get',
        data : {
             't': 'titleeeee',
             'b': 'bodyyyyyyy',
             'pedidos': myJsonString
         },
        dataType: 'html',
        url: '/datosInsumo/'+document.getElementById('id_insumo').value,        //nico: como se hace para q el value sea siempre el id del insumo??
        success: function(json){
                lista = JSON.parse(json);
                console.log(lista[0].fields);
                insumo_posta=  lista[0].fields;
                console.log("INSUMO RESIBIDO: "+ insumo_posta.nombre);
                filtrar_tupla(insumo_posta.unidad_medida);
            }
    });
    console.log("FIN AJAX");
});



</script>

{% endblock %}
