{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block contenido %}



<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Alta Pedidos de Cliente</b></font></p></div>
  <div class="panel-body">

      <form action="{% url 'pedidosClientesAlta' tipo_pedido %}" method="post" class="form" onsubmit="return validarForm()">
                         <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>
                             {% if tipo_pedido == "1" %}
                                Pedido Fijo
                             {% else %}
                                {% if tipo_pedido == "2" %}
                                    Pedido Ocacional
                                {% else %}
                                    {% if tipo_pedido == "3" %}
                                        Pedido de Cambio
                                    {% endif %}
                                {% endif %}
                             {% endif %}

                             </b></font></p></div>
                     {% csrf_token %}
                     {% bootstrap_form pedido_form layout='horizontal'%}

 <p>&nbsp;</p>
                      <div class="panel-heading"><p class="text-center login-title">

                            <font face="tahoma" size="4" color="black"><b>Detalles</b></font></p>
                      </div>

                        {{ form.as_p }}

                      <div id="detalles_forms"></div>


                    <label for="id_producto">Productos (*)</label>
                      <select class="form-control" id="id_producto" name="id_producto" title="">
                          <option value="" selected="selected">---------</option>
                             {% for i in productosTerminados%}
                                 <option value="{{i.id}}">{{i}}</option>
                            {% endfor %}
                         </select>

                        <div class="form-group">
                             <label for="cantidadProducto">Cantidad (*)</label>
                             <input type="text"  min="0" class="form-control" name="cantidadProducto" id="cantidadProducto" placeholder="cantidad" >
                        </div>

                     {{ detalles_form_factory.management_form }}

                    <button id="add-detalle-receta" type="button" class="btn btn-primary">Add</button>
                    <table class="table table-hover" id="nueva" class="display">
                        <thead>
                            <tr style='cursor:pointer' class='desmarcado'>
                                <th>producto</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <table class="table table-hover" id="detalles" class="display"></table>
                        </tbody>

                    </table>
                {% buttons %}
                    <button id = "btn-submit" type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Submit
                    </button>
                {% endbuttons %}
                </form>

<hr/>
      
      <a href="javascript:history.back()" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>

  </div>

</div>
</div>

{% endblock %}
{% block javascript %}
<script id="detalle_tabla_tpl" type="text/html">
    <% $(objects).each(function(i, d){ %>
    <% if (d.delete_form != "on") { %>


        <tr class="form-row row1 has_original">
            <td><%= d.texto %></td>
            <td class="field-cantidad_producto">
                <input class="cantidades_tablas" id="cantidad-<%=i%>" onchange="cambio_cantidad(<%=i%>)"  name="cantidad-<%=i%>" value="<%=d.cantidad%>" type="text">
            </td>
            <td><button type="button"  data-id="<%= d.producto%>"  class="btn-modificar" onClick= "modificar(<%=i%>)">Modificar</button></td>

            <td><button type="button"  data-id="<%= d.producto%>" id="renglon-<%= d.producto%>" class="btn-eliminar" onClick= "eliminar(<%=i%>)">Eliminar</button></td>

        </tr>
    <% } %>
    <% })%>
</script>
<script>

var detalles = [];
var tpl_tabla=_.template($("#detalle_tabla_tpl").html());

var datos_iniciales;


        // saco producto del arreglo detalles
function eliminar(indi){
        detalles = eliminar_objeto(detalles,indi);
        armar_tabla(); //refresco la tabla
        }

function modificar(i){
    var nueva_cantidad = $("#cantidad-"+i).val();
    id_input = document.getElementById("cantidad-"+i);
    detalles = modificar_cantidad_arreglo(detalles,nueva_cantidad,id_input,i);
}

function armar_form(){
            var html_form = "";
            $(detalles).each(function(i, d) {
                html_form = html_form + armar_hidden("form",d.cantidad,"cantidad_producto",i);
                html_form = html_form + armar_hidden("form",d.producto,"producto_terminado",i);
            });
            document.getElementById("id_form-TOTAL_FORMS").value = _.size(detalles);

            $('#detalles_forms').html(html_form);
}

function armar_tabla(){
    var html_tabla = "";
    $(detalles).each(function(i, d) {
        html_tabla = html_tabla + tpl_tabla({objects:d});
    });
    $('#detalles').html(html_tabla);
}


function validarForm(){
    if (_.size(detalles) == 0){
         alert("Debe agregar al menos un detalle");
        return false;
    }else{
        armar_form();
        return true;
    }

}

$(function() {

  datos_iniciales= [
      {% for detalle_form in detalles_form_factory %}
            {% if detalle_form.producto_terminado.value != None%}
              {"producto": {{detalle_form.producto_terminado.value}},
                "cantidad":{{detalle_form.cantidad_producto.value}},
                "texto": $('#id_producto option[value="{{detalle_form.producto_terminado.value}}"]').text()
              },
            {%endif%}
      {% endfor%}
  ];
  $(datos_iniciales).each(function(i, d) {
        detalles.push({cantidad:d.cantidad, producto: d.producto,i:"0",texto: d.texto});
     });   
  armar_tabla();



  $("#add-detalle-receta").click(function(){
        var cantidad = parseInt($("#cantidadProducto").val());
        var producto = parseInt($("#id_producto").val());
        var texto = document.getElementById('id_producto').options[document.getElementById('id_producto').selectedIndex].text;
        if ((cantidad == "") || (producto == "")){
            alert("Debe llenar todos los campos");
        }else{
            if (!esEnteroPositivo(cantidad)){
                alert("debe ingresar una cantidad valida");
            }else{
                 var ins = _.find(detalles,{producto:producto});
                 if (ins != undefined){
                    alert("Producto ya cargado");
                 }else{
                    detalles.push({cantidad: cantidad, producto: producto,i:"0",texto:texto});
                    armar_tabla();
                    det = detalles[0];
                    d = det.cantidad;
                 }
            }
        }
  });

});

</script>
{% endblock %}