{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Modificar Pedido Cliente</b></font></p></div>

              <form action="{% url 'pedidosClienteModificar' pedido_id %}" method="post" class="form" onsubmit="return validarForm()">
                  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b></b></font></p>

                      {% if pedido_form.errors %}
                      {% bootstrap_form_errors pedido_form %}
                        {% endif %}


                  {% csrf_token %}

                        {% if tipo_pedido = 1 %}
                         {% bootstrap_field pedido_form.fecha_inicio  %}
                        {% bootstrap_field pedido_form.dias  %}

                      {% else %}
                         {% bootstrap_field pedido_form.fecha_entrega id="datepicker" %}
                      {% endif %}


                  {{ detalles_form_factory.management_form }}

                 <!-- Este input es solo para poder leer los detalles de la receta desde js-->
                  <input type="hidden" id="detalles_pedido" name="detalles_pedido" value="{{ detalles_pedido }}">

                  <p>&nbsp;</p>
                  <div class="panel-heading"><p class="text-center login-title">
                            <font face="tahoma" size="4" color="black"><b>Modificar Detalles</b></font></p>
                  </div>

                  <label for="id_producto">Producto</label>
                  <select class="form-control" id="id_producto" name="id_producto" title="">
                       <option value="" selected="selected">---------</option>
                             {% for i in productos %}
                                 <option value="{{i.id}}">{{i}}</option>
                            {% endfor %}
                  </select>

                  <div class="form-group">
                       <label for="cantidadProducto">Cantidad</label>
                       <input type="text" class="form-control" name="cantidadProducto" id="cantidadProducto" placeholder="cantidad" >
                  </div>

                      <div id="detalles_forms"></div>

                  <button id="add-detalle-pedido" type="button" class="btn btn-primary">Agregar Detalle</button>
                  <table class="table table-hover" id="nueva" class="display">
                        <thead>
                            <tr style='cursor:pointer' class='desmarcado'>
                                <th>Producto</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <table class="table table-hover" id="detalles" class="display"></table>
                        </tbody>
                    </table>

                  {% buttons %}


                    <button id = "btn-submit" type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Aceptar
                    </button>
                  {% endbuttons %}
              </div></form>
            <a class="btn pull-right" href="javascript:history.back()" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>


</div>
</div></div>

{% endblock %}
{% block javascript %}

<script id="detalle_tabla_tpl" type="text/html">
    <% $(objects).each(function(i, d){ %>
    <% if (d.delete_form != "on") { %>

        <tr class="form-row row1 has_original">
            <td><%= d.texto %></td>
            <td class="field-cantidad_insumo">
                <input class="cantidades_tablas" id="cantidad-<%=i%>" onchange="cambio_cantidad(<%=i%>)"  name="cantidad-<%=i%>" value="<%=d.cantidad%>" type="text">
            </td>
            <td><button type="button"  data-id="<%= d.insumo%>"  class="btn-modificar" onClick= "modificar(<%=i%>)">Modificar</button></td>

            <td><button type="button"  data-id="<%= d.insumo%>" id="renglon-<%= d.insumo%>" class="btn-eliminar" onClick= "eliminar(<%=i%>)">Eliminar</button></td>

        </tr>
    <% } %>
    <% })%>
</script>




<script>

var detalles = [];
var pedido_pk = {{id}};
var pref = "{{pref}}";
var id_cliente = {{id_cliente}}
var tpl_tabla=_.template($("#detalle_tabla_tpl").html());


$(function() {
        $( "#datepicker" ).datepicker({ dateFormat: 'dd mm yy',
                                        inline: true
        });
    });

function eliminar(indi){
        detalles = eliminar_objeto(detalles,indi);
        armar_tabla(); //refresco la tabla
        }


function modificar(i){
    var nueva_cantidad = $("#cantidad-"+i).val();
    id_input = document.getElementById("cantidad-"+i);
    detalles = modificar_cantidad_arreglo(detalles,nueva_cantidad,id_input ,i);

    //id_input = document.getElementById("cantidad-"+i).style.background="white";
}


function armar_form(){
    var html_form=""
    $(detalles).each(function(i, d){
        html_form = html_form + armar_hidden(pref,d.producto,"producto_terminado",i);
        html_form = html_form + armar_hidden(pref,d.cantidad,"cantidad_producto",i);
        html_form = html_form + armar_hidden(pref,d.delete_form,"DELETE",i);
        html_form = html_form + armar_hidden(pref,d.pk,"id",i);
        html_form = html_form + armar_hidden(pref,d.pedido_pk,"pedido_cliente",i);
     });
                 html_form = html_form + armar_input(id_cliente,"tipo_pedido");
                 html_form = html_form + armar_input(id_cliente,"cliente");
    document.getElementById("id_"+pref+"-TOTAL_FORMS").value = _.size(detalles);
    $('#detalles_forms').html(html_form);
}

function armar_tabla(){
     var html_tabla=tpl_tabla({objects:detalles});;
     $('#detalles').html(html_tabla);
}


function validarForm(){
    if (_.size(detalles) > 0){
        var i = _.find(detalles, {delete_form:""}); // q delete no sea ON
        if (i != undefined){
            armar_form();
            return true;
        }
    }
    alert("El pedido debe tener al menos un detalle");
    return false;
}


$(function() {
                /* INICIAMOS DETALLES */
    var listado_detalles = [
    {% for detalle in detalles_pedido %}{"pedido_pk":{{detalle.pedido_cliente.pk}},"pk": {{detalle.pk}}, "producto": {{detalle.producto_terminado.pk}}, "cantidad": "{{detalle.cantidad_producto}}", "texto": "{{detalle.producto_terminado}}" },{% endfor %}
    ]
    console.log("cantidad de listado "+listado_detalles[0].cantidad);
    $(listado_detalles).each(function(i, d) {
        detalles.push({pedido_pk:d.pedido_pk,cantidad:d.cantidad, producto: d.producto,delete_form:"",texto: d.texto,pk:d.pk });
     });
     armar_tabla();

     console.log(detalles);
    document.getElementById("id_"+pref+"-INITIAL_FORMS").value = _.size(detalles);



  $("#add-detalle-pedido").click(function(){
        var cantidad = Number($("#cantidadProducto").val());
        var producto = Number($("#id_producto").val());
        var texto = document.getElementById('id_producto').options[document.getElementById('id_producto').selectedIndex].text;
        if ((cantidad == "") || (producto == "")){
            alert("Debe llenar todos los campos");
        }else{
            if (!esFloatPositivo(cantidad)){
                alert("debe ingresar una cantidad valida");
            }else{
                 var ins = _.find(detalles,{producto:producto});
                 if ((ins != undefined && ins.delete_form == "on") || (ins==undefined)){
                        detalles.push({ cantidad: cantidad,
                                        producto: producto,
                                        texto:texto,
                                        pedido_pk:pedido_pk,
                                        pk:"",
                                        delete_form:"",
                                        });
                        console.log(detalles);
                        armar_tabla();
                 }else{
                    alert("Producto ya cargado");
                 }
            }
        }
  });

});
</script>

{% endblock %}

