{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}


<!-- Este es el formulario de recetas -->
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Pedidos de Cliente</b></font></p></div>
  <div class="panel-body">
      <!-- formulario -->


      <form class="form-inline col-md-12" method="get">
            <div class=" form-group">
                        <label for="fecha_creacion">Fecha Creacion (Mayor o igual)</label>
                        <input type="text" class="form-control datepicker" value="{{filtros.fecha_creacion}}" name="fecha_creacion" id="fecha_creacion">

              </div>            
            <div class=" form-group">
              <label for="cliente">&nbsp;Cliente</label>

              <select class="form-control" id="cliente" name="cliente">
                              <option value="" selected="selected">---------</option>
                                 {% for p in clientes %}
                                     <option value="{{p.id}}">{{p.razon_social}}</option>
                                {% endfor %}
              </select>
              <div class=" form-group">
              <label for="tipo_pedido">&nbsp;Tipo Pedido</label>

              <select class="form-control" id="tipo_pedido" name="tipo_pedido" value="{{filtros.tipo_pedido}}">
                                <option value="" selected="selected">---------</option>
                                <option value="1">Fijo</option>
                                <option value="2">Ocasional</option>
                                <option value="3">De Cambio</option>

              </select>  
                </div>
                
</div>       


                    
               
               
                 <div >
                        <h4 for="fecha_desde"><strong>Vigencia:</strong></h4>
                        <label for="fecha_desde">Fecha Desde</label>
                        <input type="text" class="form-control datepicker" value="{{filtros.fecha_desde}}" name="fecha_desde" id="fecha_desde">
                        <label for="fecha_hasta"> &nbsp;Fecha Hasta</label>
                        <input type="text" class="form-control datepicker" value="{{filtros.fecha_hasta}}" name="fecha_hasta" id="fecha_hasta">
                 
                 <button type="submit" class="btn btn-default">&nbsp;Filtrar</button>
</div>            
      </form>

          <div class="col-md-12"><p>&nbsp;</p></div>
      <hr>
      <div class="row">
          <div class="col-md-7" style="overflow-y:scroll; max-height:350px;">

          <table class="table table-hover" id="datatables" class="display">
            <thead>
            <tr style='cursor:pointer' class='desmarcado'>
                <th>Tipo Pedido</th>
                <th>Cliente</th>
                <th>fecha</th>
            </tr>
            </thead>
              <tbody>
            {% for pedido in pedidos %}
            <tr class="renglon select-item" data-id="{{pedido.id}}" id="renglon-{{pedido.id}}">
                <td>{{pedido.get_tipo_pedido_display}}</td>
                <td><a href="{% url 'clienteConsulta' pedido.cliente.id %}">{{pedido.cliente.razon_social}}</a></td>
                <td>{{pedido.fecha_creacion}}</td>

          </tr>
            {% endfor %}
          </tbody>
          </table>

          </div>
          <div class="col-md-5">
              <div class="col-md-4">
              <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <button id="consultar-pedido" type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-search" aria-hidden="true">  </span></button>
              <button id="modificar-pedido" type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModalModificar" data-backdrop="static"><span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span></button>
              <button id="modal-eliminar" type="button" class="btn btn-danger "><span class="glyphicon glyphicon-trash" aria-hidden="true">    </span></button>
                </div>
                  </div>
          </div>
          <div class="col-md-5" >
          <div class="col-md-12">
              <p></p>
              <a href="{% url 'pedidosClientesAlta' 1 %}" ><button class="btn" ><font face="tahoma" size="2" color="green"><b><span  class="glyphicon glyphicon-ok" aria-hidden="true"> Agregar Pedido Fijo</span></b></font></button></a>

              <a href="{% url 'pedidosClientesAlta' 2 %}"><button class="btn" ><font face="tahoma" size="2" color="green"><b><span  class="glyphicon glyphicon-ok" aria-hidden="true"> Agregar Pedido Ocasional </span></b></font></button></a>

              <a href="{% url 'pedidosClientesAlta' 3 %}"><button class="btn" ><font face="tahoma" size="2" color="green"><b><span  class="glyphicon glyphicon-ok" aria-hidden="true"> Agregar Pedido de Cambio</span></b></font></button></a>

           </div>     
          <div >

              <div>
              <p>&nbsp;</p>

              <h3>Totales de los pedidos</h3><table class="table table-hover">
            <thead>

            <tr>
                <th>Producto Terminado</th>
                <th>Cantidad Bolsones</th>

            </tr>
            </thead>
              <tbody>

              {% for clave, valor in totales.iteritems %}
              <tr>
                    <td>{{clave}}</td>
                    <td>{{valor}}</td>
                    </tr>
              {% endfor %}

              </tbody>
          </table>
          </div>
              <hr>
              <row>


                  </row>


          </div>


          </div>



          </div>

              <hr>


          </div>

      </div>


    <!-- Este es el fin del formulario de recetas -->

{% endblock %}
{% block javascript %}
<script>
  $(function() {
    $( "#fecha-desde").datepicker();
    $( "#fecha-hasta").datepicker();

    var id_tipo;
    function obtenerTipo(event) {
            var $el = $(this);
            id_tipo = $el.data()["id"];
         }

    $(".tipo_pedido").click(obtenerTipo);

    $("#boton_aceptar").click(function(){
        window.open('/pedidosCliente/Alta/'+id_tipo+'',"_self")

    })

    var id;
        function obtenerId(event) {
            var $el = $(this);          //con this se referencia al objeto de clase select-item que ocaciono el evento, el id se define en el html
            id = $el.data()["id"];
            $el.addClass("danger");
            var _renglon = "";
            _renglon= "#renglon-"+id;
            $(".select-item").removeClass("danger");        //quito la clase active, para q se deseleccionen
            $(_renglon).addClass("danger");
        }

        $(".select-item").click(obtenerId);     //todos los elementos de clase "selec-item", al hacerles clic se ejecuta "obtenerId"

        function mostrar_error(){
            BootstrapDialog.show({
                    title: "Error",
                    cssClass: 'error-dialog',
                    message: "Debe seleccionar un pedido",
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                            label: 'Aceptar',
                            action: function(dialogRef){
                                dialogRef.close();
                            }
                    }]
            });
        }

         function mostrarModal(){
            if(id==undefined){
                mostrar_error();
            }else{
                BootstrapDialog.show({
                            title: "Esta intentando eliminar",
                            cssClass: 'error-dialog',
                            message: "Esta seguro que quiere eliminar el pedido?",
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                    label: 'Aceptar',
                                    action: function(dialogRef){
                                        dialogRef.close();
                                        eliminar();}
                                        },{
                                    label: 'Cancelar',
                                    action: function(dialogRef){
                                        dialogRef.close();
                                    }
                                    }
                            ]
                        });
            }
        }

        $("#modal-eliminar").click(mostrarModal);

        function eliminar() {
            window.open('/pedidosCliente/Baja/'+id+'',"_self")
        }

        function modificar(){
            if(id==undefined){
                mostrar_error();
            }else{
            window.open('/pedidosCliente/Modificar/'+id+'',"_self")
        }}


        function consultar(){
            if(id==undefined){
            mostrar_error();
            }else{
            window.open('/pedidosCliente/Consulta/'+id+'',"_self")
            }

        }


        $("#modificar-pedido").click(modificar);
        $("#consultar-pedido").click(consultar);

  });
  </script>
{% endblock %}