{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block contenido %}

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Descripción del Pedido de Cliente</b></font></p></div>
    <div class="panel-body">
      <form class="form-horizontal">

          <div class=" form-group">
            <label for="fecha_creacion" class="col-sm-2 control-label">Fecha de Creacion</label>
            <div class="col-sm-10">
              <input value = "{{pedido.fecha_creacion}}" type="text" class="form-control" id="fecha_creacion" name = "fecha_creacion" readonly>
            </div>
          </div>

          {% if  pedido.tipo_pedido == 2 %}
                <div class=" form-group">
            <label for="fecha_entrega" class="col-sm-2 control-label">Fecha de Entrega</label>
            <div class="col-sm-10">
              <input value = "{{pedido.pedidoocacional.fecha_entrega}}" type="text" class="form-control" id="fecha_entrega" name = "fecha_entrega" readonly>
            </div>
          </div>
          {% else %}
          {% if  pedido.tipo_pedido == 3 %}
                <div class=" form-group">
            <label for="fecha_entrega" class="col-sm-2 control-label">Fecha de Entraga</label>
            <div class="col-sm-10">
              <input value = "{{pedido.pedidocambio.fecha_entrega}}" type="text" class="form-control" id="fecha_entrega" name = "fecha_entrega" readonly>
            </div>
          </div>
          {% endif %}
          {% endif %}

          <div class="form-group ">
            <label for="tipo_pedido" class="col-sm-2 control-label">Tipo de Pedido</label>
            <div class="col-sm-10">
              <input value = "{{pedido.get_tipo_pedido_display}}" type="text" class="form-control" id="tipo_pedido" readonly>
            </div>
          </div>

          {% if  pedido.tipo_pedido == 1 %}
              <div class=" form-group">
                <label for="fecha_inicio" class="col-sm-2 control-label">Fecha de inicio</label>
                <div class="col-sm-10">
                  {{pedido.pedidofijo.fecha_inicio}}
                </div>
              </div>

            <div class=" form-group">
                <label class="col-sm-2 control-label">Fecha de Cancelacion</label>
                <div class="col-sm-10">
                  {{pedido.pedidofijo.fecha_cancelacion}}
                </div>
              </div>

              <div class="form-group">
                <label for="dias" class="col-sm-2 control-label">Dias de pedido</label>
                <div class="col-sm-10">

                  {% for dia in pedido.pedidofijo.dias %}
                       {% if dia == "1" %}
                            <span class="label label-warning"> Lunes </span>
                       {% else %}
                            {% if dia == "2" %}
                                <span class="label label-warning"> Martes </span>
                            {% else %}
                                {% if dia == "3" %}
                                    <span class="label label-warning"> Miercoles </span>
                                    {% else %}
                                        {% if dia == "4" %}
                                            <span class="label label-warning"> Jueves </span>
                                        {% else %}
                                            {% if dia == "5" %}
                                                <span class="label label-warning"> Viernes </span>
                                            {% endif %}
                                        {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        &nbsp;
                    {% endfor %}
                </div>
              </div>

          {% endif %}
          <div class="form-group ">
            <label for="producto_terminado" class="col-sm-2  control-label">Cuit/Cuil Cliente</label>
            <div class="col-sm-10">
              <input value = {{pedido.cliente}} type="text" class="form-control" id="producto_terminado" name="producto_terminado" readonly>
            </div>
          </div>
          <div class="form-group ">
            <label for="razon_social" class="col-sm-2  control-label">Razon Social Cliente</label>
            <div class="col-sm-10">
              <input value = {{pedido.cliente.razon_social}} type="text" class="form-control" id="razon_social" name="razon_social" readonly>
            </div>
          </div>


      </form>
      <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Productos del pedido</b></font></p></div>
      <div class="col-md-11 pull-right">
          <table class="table table-hover ">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Unidad Medida</th>
            </tr>
            </thead>
              <tbody>
              {% for d in pedido.pedidoclientedetalle_set.all %}
                <tr>
                    <td><a href="{% url 'productosTerminadosConsulta' d.producto_terminado.id %}">{{d.producto_terminado.nombre}}</a></td>
                    <td>{{d.cantidad_producto}}</td>
                    <!--  producto.pedidoclientedetalle_set.get(pedido_cliente=pedido).cantidad_producto -->
                    <td>{{d.producto_terminado.get_unidad_medida_display}}</td>
                </tr>
              {% endfor %}
             </tbody>
          </table>
      <a href="javascript:history.back()" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>

        </div>

    </div>
</div>
</div>
{% endblock %}