{% load staticfiles %}
<html>
    <header>
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>



    </header>


<body>
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
        <img style="max-width:100px; margin-top: -7px;"
             src="/estaticos/images/Logo.png">
    </a>
</div>



http://www.iteramos.com/pregunta/18022/bootstrap-3-navbar-con-logo
    http://getbootstrap.com/components/#navbar

        hoa mundodadadadadadad
</body>

</html>