{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Descripción del Producto Terminado</b></font></p></div>
  <div class="panel-body">
      <!-- formulario -->
       <form class="form-horizontal">
                  <div class=" form-group">
                    <label  class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10" style="padding:7px;">
                       {{producto.nombre}}
                    </div>
                  </div>

                  <div class=" form-group">
                    <label  class="col-sm-2 control-label">Stock:</label>
                    <div class="col-sm-10" style="padding:7px;">
                       {{producto.stock}}
                    </div>
                  </div>
                  
                  <div class=" form-group">
                    <label  class="col-sm-2 control-label">Precio:</label>
                    <div class="col-sm-10" style="padding:7px;">
                       {{producto.precio}}
                    </div>
                  </div>
        </form>
      <a href="javascript:history.back()" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>
      <!-- fin formulario -->
  </div>
</div>
</div>
{% endblock %}