{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Alta de Producto Terminado</b></font></p></div>
            <div class="panel-body">
                <form action="{% url 'productosTerminadosAlta' %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form producto_form layout='horizontal' %}
                    <p>&nbsp;</p>
                    {% buttons %}
                    
                    <button id="btn_submit_falso" type="button" class="btn btn-primary"  >
                            {% bootstrap_icon "star" %} Aceptar
                        </button>
                    
                        <button id="btn_submit" type="submit" class="btn btn-primary" style="display: none;">
                            {% bootstrap_icon "star" %} Aceptar
                        </button>
                    {% endbuttons %}
                </form>
                <a href="javascript:history.back()" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>

            </div>
    </div>
</div>





{% endblock %}
{% block javascript %}
<script>

$("#btn_submit_falso").click(function(){
    nombre = $("#id_nombre").val();
    $.ajax({
                type: 'get',
                data : {                     
                     'nombre': nombre
                 },
                dataType: 'json',
                async:false,  //vuelve sincronico al AJAX, importante
                url: '{% url 'productosTerminadosAltaAjax' 1   %}',  /* Antes era hojaderuta/generarTotales*/
                success: function(json){
                    console.log(json);
                    if(json == "1"){
                        BootstrapDialog.show({
                        title: "Error",
                        cssClass: 'error-dialog',
                        message: "El nombre ingresado corresponde a un producto que existio anteriormente, desea revivirlo?",
                        type: BootstrapDialog.TYPE_DANGER,
                        buttons: [{
                            label: 'Aceptar',
                            action: function(dialogRef){
                                $.ajax({
                                    type: 'get',
                                    data : {                     
                                         'nombre': nombre
                                     },
                                    dataType: 'json',
                                    async:false,  //vuelve sincronico al AJAX, importante
                                    url: '{% url 'productosTerminadosAltaAjax' 2 %}',  /* Antes era hojaderuta/generarTotales*/
                                    success: function(json){
                                        window.open('/productosTerminados/',"_self")

                                    }});
                                //$("#btn_submit").trigger("click");
                                dialogRef.close();
                            }
                            },{label: 'Cancelar',
                            action: function(dialogRef){
                                dialogRef.close();
                            }}
                    ]
            });
                    }
                    else{
                        $("#btn_submit").trigger("click");
                    }
                    }
            });
});


</script>
{% endblock %}
