
{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block contenido %}


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Modificar Producto Terminado</b></font></p></div>
            <div class="panel-body">
                <form action="{% url 'productosTerminadosModificar' id %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form producto_form layout='horizontal' %}
                    <p>&nbsp;</p>
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "star" %} Aceptar
                        </button>
                    {% endbuttons %}
                </form>
                      <a href="javascript:history.back()" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>

            </div>
    </div>
</div>





{% endblock %}
