{% extends 'base.html' %}
{% load staticfiles %}


{% block contenido %}


<form action="">
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>ACTUALIZAR STOCK</b></font></p></div>
  <div class="panel-body">
      <!-- formulario -->
      <form role="form">

                  <div class="form-group">
                        <label for="inputEmail3">Producto Terminado</label>

                          <select class="form-control">
                              <option>Producto 1</option>
                              <option>Producto 2</option>
                              <option>Producto 3</option>
                          </select>

                   </div>
                  <div class="form-group">
                    <label for="ejemplo_email_1">Stock Actual</label>
                    <input type="text" class="form-control" id="ejemplo_email_1" readonly>
                  </div>
                  <div class="form-group">
                    <label for="ejemplo_password_1">Stock Nuevo</label>
                    <input type="text" class="form-control" id="ejemplo_password_1" autofocus>
                  </div>



        </form>
        <a href="productosTerminados" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-ok" aria-hidden="true"> Guardar </span></b></font></a>
        <a href="productosTerminados" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>

  </div>

</div>
</div>
</form>


<!-- Este es el fin del formulario de recetas -->





{% endblock %}