{% extends 'base.html' %}
{% load staticfiles %}


{% block contenido %}



<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Descripción del Lote</b></font></p></div>
  <div class="panel-body">
      <!-- formulario -->
      <div class="row col-md-12" >
      <form role="form ">
                  <div class="form-group">
                    <label for="ejemplo_email_1">Producto terminado</label>
                    <input type="text" class="form-control" id="ejemplo_email_1" readonly>
                  </div>
                  <div class="form-group">
                    <label for="ejemplo_password_1">N°Lote</label>
                    <input type="text" class="form-control" id="ejemplo_password_1" readonly>
                  </div>
                 <div class="form-group">
                    <label for="ejemplo_password_1">Cantidad Producida</label>
                    <input type="text" class="form-control" id="ejemplo_password_1" readonly>
                     <label for="">      </label>
                     <label for="ejemplo_password_1">Unidad de medida</label>
                    <input type="text" class="form-control" id="ejemplo_password_1" readonly
                  </div>

          <hr>
                  <div class="form-group">
                    <label for="ejemplo_password_1">Fecha de produccion</label>
                    <input type="text" class="form-control" id="ejemplo_password_1" readonly>
                  </div>
                   <div class="form-group">
                    <label for="ejemplo_password_1">Fecha de vencimiento</label>
                    <input type="text" class="form-control" id="ejemplo_password_1" readonly>
                  </div>
          <hr>
                   <div class="form-group">
                    <label for="ejemplo_password_1">Stock disponible</label>
                    <input type="text" class="form-control" id="ejemplo_password_1" readonly>
                  </div>
                   <div class="form-group">
                    <label for="ejemplo_password_1">Stock reservado</label>
                    <input type="text" class="form-control" id="ejemplo_password_1" readonly>
                  </div>

          <hr>
        </form>
          </div>
      <button class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></button>

  </div>

</div>
</div>

    <!-- Este es el fin del formulario de recetas -->





    {% endblock %}