{% extends 'base.html' %}
{% load staticfiles %}

{% block contenido %}



<!-- Este es el formulario de recetas -->
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Producciones</b></font></p></div>
  <div class="panel-body">
      <!-- formulario -->
      <form class="form">
           <div class="form-group">
                        <label for="inputEmail3">Receta</label>

                          <select class="form-control">
                              <option>receta 1</option>
                              <option>receta 2</option>
                              <option>receta 3</option>
                          </select>

                   </div>
          <div class="form-group">
            <label for="exampleInputName2">Producto terminado</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="fideo fino" readonly><!-- lo carga automaticamente al seleccionar la receta -->
          </div>
          <div class="form-group">
            <label for="date">Cantidad producida</label>
            <input type="text" class="form-control" id="date" placeholder="Cantidad">
          </div>
          <div class="form-group">
            <label for="date">Unidad de medida</label>
            <input type="text" class="form-control" id="date" placeholder="UM" readonly><!-- lo carga automaticamente al seleccionar la receta -->
          </div>
          <div class="form-group">
            <label for="date">Fecha de vencimiento</label>
            <input type="date" class="form-control" id="date" placeholder="huevo">
          </div>



      </form>

      <button class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-ok" aria-hidden="true"> Guardar </span></b></font></button>
        <button class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></button>

  </div>

</div>
</div>

    <!-- Este es el fin del formulario de recetas -->

{% endblock %}