{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}

<!-- Este es el formulario de INSUMOS PAPA -->

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Alta Proveedor</b></font></p></div>
            <div class="panel-body">
                <form action="{% url 'proveedoresAlta' %}" method="post" class="form" onsubmit="return validarForm()">
                         <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Proveedor</b></font></p></div>
                     {% csrf_token %}
                    <!-- {% bootstrap_form proveedores_form %} -->
                    {% bootstrap_field proveedores_form.cuit  %}
                    {% bootstrap_field  proveedores_form.razon_social  %}
                    {% bootstrap_field  proveedores_form.localidad  %}
                    {% bootstrap_field  proveedores_form.nombre_dueno  %}
                    {% bootstrap_field  proveedores_form.direccion  %}
                    {% bootstrap_field  proveedores_form.email  %}
                    {% bootstrap_field  proveedores_form.numero_cuenta  %}
                    {% bootstrap_field  proveedores_form.provincia  %}
                    {% bootstrap_field  proveedores_form.telefono  %}
                      <div class="panel-heading"><p class="text-center login-title">
                            <font face="tahoma" size="4" color="black"><b>Insumos</b></font></p>
                      </div>

                      <div id="detalles_forms"></div>

                      <select class="form-control" id="id_insumo" name="id_insumo" title="">
                          <option value="" selected="selected">---------</option>
                             {% for i in insumos %}
                                 <option value="{{i.id}}">{{i}}</option>
                            {% endfor %}
                         </select>
                     {{ detalles_form_factory.management_form }}
                    <button id="add-detalle-proveedor" type="button" class="btn btn-primary">Add</button>
                    <table class="table table-hover" id="nueva" class="display">
                        <thead>
                            <tr style='cursor:pointer' class='desmarcado'>
                                <th>Insumo</th>

                            </tr>
                        </thead>
                        <tbody>
                            <table class="table table-hover" id="detalles" class="display"></table>
                        </tbody>
                    </table>
                {% buttons %}
                    <button id = "btn-submit" type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Submit
                    </button>
                {% endbuttons %}
                </form>
                      <a href="javascript:history.back()" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>

            </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
var tabla_detalle_tpl;
var detalle_insumo_imput_tpl;
var detalles = [];

tabla_detalle_tpl = $.tpl("<tr><td><%= texto %></td>"
                    +"<td><button type="+ "button "+"value= "+"Eliminar "+"data-id="+"<%= insumo%> "
                    +" id="+"renglon-<%= insumo%> class="+"btn-eliminar"+" onClick= "+"eliminar(<%= insumo%>)"
                    +">Eliminar</button></td>" + "</tr>");


detalle_insumo_input_tpl = $.tpl("<input class="+"form-control"
                                    +" id="+"insumos"
                                    +" name="+"insumos"
                                    +" placeholder="+"insumo"+" type="
                                    +"hidden"+" value=<%=insumo %>>");



        // saco insumo del arreglo detalles
 function eliminar(ins){
        var isumo = _.where(detalles, {insumo:String(ins)});  // obtengo el insumo que quiero borrar, hay q borrarlo
        detalles = _.filter(detalles,function(element){
                    return element.insumo != String(ins);                      //filtro los insumos que no tengan el id a borrar.
        });
        armar_tabla(); //refresco la tabla
  }


function armar_form(){
            var html_form = "";
            var n = _.size(detalles);
            $(detalles).each(function(i, d) {
                d.i=String(i);
                html_form = html_form +  detalle_insumo_input_tpl(d);
            });
            $('#detalles_forms').html(html_form);
}

function armar_tabla(){
    var html_tabla = "";
    $(detalles).each(function(i, d) {
        html_tabla = html_tabla + tabla_detalle_tpl(d);
    });
    $('#detalles').html(html_tabla);
}


function validarForm(){
    if (_.size(detalles) == 0){
         BootstrapDialog.show({
                title: "Error de Alta",
                cssClass: 'error-dialog',
                message: "Falta cargar datos",
                type: BootstrapDialog.TYPE_DANGER,
                buttons: [{
                        label: 'Aceptar',
                        action: function(dialogRef){
                            dialogRef.close();
                        }
                }]
            });
        return false;
    }else{
        armar_form();
        return true;
    }

}

$(function() {
    var datos_iniciales  =[
        {% for insumo in proveedores_form.insumos.value %} 
            {"insumo":{{insumo}}, 
             "texto":$('#id_insumo option[value="{{insumo}}"]').text()},
        {% endfor %}
    ] 
    $(datos_iniciales).each(function(i, d) {
        detalles.push({insumo: d.insumo,texto: d.texto});
     });
     armar_tabla();
  {% if modal %}
    $("#myModal").modal("show");
  {% endif %}

  $("#add-detalle-proveedor").click(function(){

        var insumo = $("#id_insumo").val();
        var texto = document.getElementById('id_insumo').options[document.getElementById('id_insumo').selectedIndex].text;
        var ins = _.find(detalles,{insumo:insumo});
        if (insumo == ""){
            alert("Debe indicar almenos un insumo");
        }else{
            if (ins == undefined){
                detalles.push({insumo: insumo,texto:texto});
                armar_tabla();
            }else{
                BootstrapDialog.show({
                title: "Error de Insumos",
                cssClass: 'error-dialog',
                message: "Insumo ya cargado",
                type: BootstrapDialog.TYPE_DANGER,
                buttons: [{
                        label: 'Aceptar',
                        action: function(dialogRef){
                            dialogRef.close();
                        }
                }]
            });

            }
        }
  });

});
</script>
{% endblock %}
