{% extends 'base.html' %}
{% load staticfiles %}


{% block contenido %}



<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Descripción de la Receta</b></font></p></div>
  <div class="panel-body">
      <!-- formulario -->
      <form class="form-horizontal col-md-12">
          <div class="form-group col-md-6">
            <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-10">
              <input value = {{receta.nombre}} type="text" class="form-control" id="inputEmail3" readonly>
            </div>
          </div>


          <div class="form-group col-md-6">
            <label for="inputEmail3" class="col-sm-2 control-label">Producto Terminado</label>
            <div class="col-sm-10">
              <input value = {{receta.producto_terminado.nombre}} type="text" class="form-control" id="inputEmail4" readonly>
            </div>
          </div>
           <div class="form-group col-md-6">
            <label for="inputEmail3" class="col-sm-2 control-label">Cantidad que produce</label>
            <div class="col-sm-10">
              <input value = {{receta.cant_prod_terminado}} type="text" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail3" class="col-sm-2 control-label">Fecha de creación</label>
            <div class="col-sm-10">
              <input value ={{receta.fecha_creacion}} type="date" class="form-control" readonly>
            </div>
          </div>

            <div class="form-group col-md-6">
            <label for="inputEmail3" class="col-sm-2 control-label">Unidad medida</label>
            <div class="col-sm-10">
              <input value = {{receta.get_unidad_medida_display}} type="text" class="form-control" id="inputEmail5" readonly>
            </div>
          </div>



          <div class="form-group col-md-12">
            <label>Descripción</label>
            <textarea  type = "text" class="form-control"  rows="3" id="exampleInputName2" readonly>{{receta.descripcion}} </textarea>

          </div>
      </form>

      <div class="row">
          <div class="col-md-10">
              <h2>Insumos</h2>
          <table class="table table-hover">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Unidad Medida</th>
            </tr>
            </thead>
              <tbody>
            {% for insumo in insumos %}
                <tr>
              <td>{{insumo.nombre}}</td>
              <td>{{insumo.recetadetalle_set.cantidad_insumo}}</td>
              <td>{{insumo.get_unidad_medida_display}}</td>

          </tr>
            {% endfor %}
          </tbody>
          </table>
          </div>



          </div>
            <a class="btn pull-right" href="recetas" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>



</div>
</div>

    <!-- Este es el fin del formulario de recetas -->





    {% endblock %}