{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}

<!-- Este es el formulario de INSUMOS PAPA -->

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Alta Receta</b></font></p></div>
            <div class="panel-body">


                <form action="{% url 'recetasAlta' %}" method="post" class="form" onsubmit="return validarForm()">
                         <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Receta</b></font></p></div>
                     {% csrf_token %}
                     {% bootstrap_form receta_form layout='horizontal'%}
                      <div class="panel-heading"><p class="text-center login-title">
                            <font face="tahoma" size="4" color="black"><b>Detalles</b></font></p>
                      </div>

                      <div id="detalles_forms"></div>


                    <label for="id_insumo">Insumo</label>
                      <select class="form-control" id="id_insumo" name="id_insumo" title="">
                          <option value="" selected="selected">---------</option>
                             {% for i in insumos %}
                                 <option value="{{i.id}}">{{i}}</option>
                            {% endfor %}
                         </select>

                        <div class="form-group">
                             <label for="cantidadInsumo">Cantidad</label>
                             <input type="text"  min="0" class="form-control" name="cantidadInsumo" id="cantidadInsumo" placeholder="cantidad" >
                        </div>

                     {{ detalles_form_factory.management_form }}

                    <button id="add-detalle-receta" type="button" class="btn btn-primary">Add</button>
                    <table class="table table-hover" id="nueva" class="display">
                        <thead>
                            <tr style='cursor:pointer' class='desmarcado'>
                                <th>Insumo</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <table class="table table-hover" id="detalles" class="display"></table>
                        </tbody>

                    </table>
                {% buttons %}
                    <button id = "btn-submit" type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Submit
                    </button>
                {% endbuttons %}
                </form>
            </div>
    </div>
</div>


{% endblock %}
{% block javascript %}

<script id="detalle_tabla_tpl" type="text/html">
    <% $(objects).each(function(i, d){ %>
    <% if (d.delete_form != "on") { %>

        <tr class="renglon select-item" data-id="{{proveedor.id}}" id="renglon-{{proveedor.id}}">

        <tr class="form-row row1 has_original">
            <td><%= d.texto %></td>
            <td class="field-cantidad_insumo">
                <input class="cantidades_tablas" id="cantidad-<%=i%>" onchange="cambio_cantidad(<%=i%>)"  name="cantidad-<%=i%>" value="<%=d.cantidad%>" type="text">
            </td>
            <td><button type="button"  data-id="<%= d.insumo%>"  class="btn-modificar" onClick= "modificar(<%=i%>)">Modificar</button></td>

            <td><button type="button"  data-id="<%= d.insumo%>" id="renglon-<%= d.insumo%>" class="btn-eliminar" onClick= "eliminar(<%=i%>)">Eliminar</button></td>

        </tr>
    <% } %>
    <% })%>
</script>

<script>


var detalles = [];
prefix = "{{prefix}}"
var tpl_tabla=_.template($("#detalle_tabla_tpl").html());


        // saco insumo del arreglo detalles
function eliminar(indi){
        detalles = eliminar_objeto(detalles,indi);
        armar_tabla(); //refresco la tabla
        }


function armar_form(){
    var html_form="";
    $(detalles).each(function(i, d){
        html_form = html_form + armar_hidden(prefix,d.insumo,"insumo",i);
        html_form = html_form + armar_hidden(prefix,d.cantidad,"cantidad_insumo",i);
     });
    document.getElementById("id_"+prefix+"-TOTAL_FORMS").value = _.size(detalles);
    $('#detalles_forms').html(html_form);
}


function armar_tabla(){
    var html_tabla = tpl_tabla({objects:detalles});
    $('#detalles').html(html_tabla);
}


function validarForm(){
    if (_.size(detalles) == 0){
         alert("Debe agregar al menos un detalle");
        return false;
    }else{
        armar_form();
        return true;
    }

}

function modificar(i){
console.log("voy a modificar en la pos "+i);
    var nueva_cantidad = $("#cantidad-"+i).val();
    id_input = document.getElementById("cantidad-"+i);
    detalles = modificar_cantidad_arreglo(detalles,nueva_cantidad,id_input,i);
}

$(function() {

  $("#add-detalle-receta").click(function(){
        var cantidad = $("#cantidadInsumo").val();
        var insumo = $("#id_insumo").val();
        var texto = document.getElementById('id_insumo').options[document.getElementById('id_insumo').selectedIndex].text;
        if ((cantidad == "") || (insumo == "")){
            alert("Debe llenar todos los campos");
        }else{
            esFloat = /^[0-9]*(.[0-9]*)?$/;
            if (!esFloat.test(cantidad) || (cantidad<0)){
                alert("debe ingresar una cantidad valida");
            }else{
                 var ins = _.find(detalles,{insumo:insumo});
                 if (ins != undefined){
                    alert("Insumo ya cargado");
                 }else{
                    detalles.push({cantidad: cantidad, insumo: insumo,i:"0",texto:texto});
                    armar_tabla();
                    console.log(detalles);
                    det = detalles[0];
                    console.log(det);
                    d = det.cantidad;
                    console.log(d);
                 }
            }
        }
  });

});
</script>
{% endblock %}
