{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Modificar Receta</b></font></p></div>

              <form action="{% url 'recetaModificar' receta_id %}" method="post" class="form" onsubmit="return validarForm()">
                  {% csrf_token %}
                  {% bootstrap_form receta_form layout='horizontal' %}
                  {{ detalles_form_factory.management_form }}
                 <!-- Este input es solo para poder leer los detalles de la receta desde js-->
                  <input type="hidden" id="detalles_receta" name="detalles_receta" value="{{ detalles_receta }}">

                  <p>&nbsp;</p>
                  <div class="panel-heading"><p class="text-center login-title">
                            <font face="tahoma" size="4" color="black"><b>Modificar Detalles</b></font></p>
                  </div>


                  <label for="id_insumo">Insumo</label>
                  <select class="form-control" id="id_insumo" name="id_insumo" title="">
                       <option value="" selected="selected">---------</option>
                             {% for i in insumos %}
                                 <option value="{{i.id}}">{{i}}</option>
                            {% endfor %}
                  </select>

                  <div class="form-group">
                       <label for="cantidadInsumo">Cantidad</label>
                       <input type="text" class="form-control" name="cantidadInsumo" id="cantidadInsumo" placeholder="cantidad" >
                  </div>

                      <div id="detalles_forms"></div>

                  <button id="add-detalle-receta" type="button" class="btn btn-primary">Agregar Detalle</button>
                  <table class="table table-hover" id="nueva" class="display">
                        <thead>
                            <tr style='cursor:pointer' class='desmarcado'>
                                <th>Insumo</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <table class="table table-hover" id="detalles" class="display"></table>
                        </tbody>
                    </table>

                  {% buttons %}


                    <button id = "btn-submit" type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Submit
                    </button>
                  {% endbuttons %}
              </form>
            <a class="btn pull-right" href="{%url 'recetas'%}" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>

</div>
</div>
</div>

{% endblock %}
{% block javascript %}

<script id="detalle_tabla_tpl" type="text/html">
    <% $(objects).each(function(i, d){ %>
    <% if (d.delete_form != "on") { %>

        <tr class="form-row row1 has_original">
            <td><%= d.texto %></td>
            <td class="field-cantidad_insumo">
                <input class="cantidades_tablas" id="cantidad-<%=i%>" onchange="cambio_cantidad(<%=i%>)"  name="cantidad-<%=i%>" value="<%=d.cantidad%>" type="text">
            </td>
            <td><button type="button"  data-id="<%= d.insumo%>"  class="btn-modificar" onClick= "modificar(<%=i%>)">Modificar</button></td>

            <td><button type="button"  data-id="<%= d.insumo%>" id="renglon-<%= d.insumo%>" class="btn-eliminar" onClick= "eliminar(<%=i%>)">Eliminar</button></td>

        </tr>
    <% } %>
    <% })%>
</script>


<script>

var detalles = [];
var receta_pk = {{id}};
var pref = "{{pref}}";
var tpl_tabla=_.template($("#detalle_tabla_tpl").html());


function eliminar(indi){
        detalles = eliminar_objeto(detalles,indi);
        armar_tabla(); //refresco la tabla
        }


function modificar(i){
    var nueva_cantidad = $("#cantidad-"+i).val();
    id_input = document.getElementById("cantidad-"+i);
    detalles = modificar_cantidad_arreglo(detalles,nueva_cantidad,id_input ,i);

    //id_input = document.getElementById("cantidad-"+i).style.background="white";
}


function armar_form(){
    var html_form=""
    $(detalles).each(function(i, d){
        html_form = html_form + armar_hidden(pref,d.insumo,"insumo",i);
        html_form = html_form + armar_hidden(pref,d.cantidad,"cantidad_insumo",i);
        html_form = html_form + armar_hidden(pref,d.delete_form,"DELETE",i);
        html_form = html_form + armar_hidden(pref,d.pk,"id",i);
        html_form = html_form + armar_hidden(pref,d.receta_pk,"receta",i);
     });
    document.getElementById("id_"+pref+"-TOTAL_FORMS").value = _.size(detalles);
    $('#detalles_forms').html(html_form);
}


function armar_tabla(){
     var html_tabla=tpl_tabla({objects:detalles});;
     $('#detalles').html(html_tabla);
}

function validarForm(){
    if (_.size(detalles) > 0){
        var i = _.find(detalles, {delete_form:""}); // q delete no sea ON
        if (i != undefined){
            armar_form();
            return true;
        }
    }
    alert("Receta debe tener al menos un detalle");
    return false;
}



$(function() {
                /* INICIAMOS DETALLES */
    var listado_detalles = [
    {% for detalle in detalles_receta %}{"receta_pk":{{detalle.receta.pk}},"pk": {{detalle.pk}}, "insumo": {{detalle.insumo.pk}}, "cantidad": {{detalle.cantidad_insumo}}, "texto": "{{detalle.insumo}}" },{% endfor %}
    ]
    $(listado_detalles).each(function(i, d) {
        detalles.push({receta_pk:d.receta_pk,cantidad:d.cantidad, insumo: d.insumo,delete_form:"",texto: d.texto,pk:d.pk });
     });
    armar_tabla();
    document.getElementById("id_"+"{{pref}}"+"-INITIAL_FORMS").value = _.size(listado_detalles);



  $("#add-detalle-receta").click(function(){
        var cantidad = Number($("#cantidadInsumo").val());
        var insumo = Number($("#id_insumo").val());
        var texto = document.getElementById('id_insumo').options[document.getElementById('id_insumo').selectedIndex].text;
        if ((cantidad == "") || (insumo == "")){
            alert("Debe llenar todos los campos");
        }else{
            if (!esFloatPositivo(cantidad)){
                 alert("debe ingresar una cantidad valida");
            }else{
                 var ins = _.find(detalles,{insumo:insumo});
                 if ((ins != undefined && ins.delete_form == "on") || (ins==undefined)){
                        detalles.push({ cantidad: cantidad,
                                        insumo: insumo,
                                        texto:texto,
                                        receta_pk:receta_pk,
                                        pk:"",
                                        delete_form:"",
                                        });
                        armar_tabla();
                 }else{
                    alert("Insumo ya cargado");
                 }
            }
        }
  });

    $(".cantidades_tablas").change(function(){
        console.log("cambiar color del input");
    });


});
</script>

{% endblock %}

