{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load recetas %}
{% block contenido %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Rendicion</b></font></p></div>
            <div class="panel-body">
                      <form class="form-horizontal">
                          <div class=" form-group">
                        <div class="col-sm-2 "><label class="pull-right">Hoja De Ruta:</label></div>
                        <div class="col-sm-10 ">
                             {{hoja.id}}
                        </div>
                        </div>

                        <div class=" form-group">
                            <div class="col-sm-2"><label class="pull-right">Fecha:</label></div>
                            <div class="col-sm-10">
                                 {{hoja.fecha_creacion}}
                            </div>
                        </div>

                        <div class=" form-group">
                            <div class="col-sm-2 "><label class="pull-right">Chofer:</div></label>
                            <div class="col-sm-10">
                                 {{hoja.chofer}}
                            </div>
                        </div>
                      </form>

                <form action="" method="post" class="form-horizontal panel panel-default ">
                    <div class="panel-heading"><p class="login-title"><font face="tahoma" size="2" color="black"><b>Productos Sobrantes</b></font></p></div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Lotes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto_llevado in hoja.productosllevados_set.all %}
                                    <tr>
                                        <td>{{producto_llevado.producto_terminado}}</td>
                                        <td>{{producto_llevado.cantidad}}</td>
                                        <td>
                                            <table BORDER="2" CELLPADDING="6" CELLSPACING="6">
                                                <th>  Lote  </th>
                                                <th>  Enviado  </th>
                                                <th>  Sobrante  </th>
                                            {% for det in producto_llevado.productosllevadosdetalle_set.all%}
                                                 <tr>
                                                    <td>Lote-{{det.lote.nro_lote}} </td>
                                                    <td>{{  det.cantidad}}</td>
                                                     <td><input producto_id="{{producto_llevado.producto_terminado.id}}"
                                                                lote_id="{{det.lote.nro_lote}}"
                                                                cant_enviada="{{det.cantidad}}"
                                                                detalle_id="{{det.id}}"
                                                                type="number" class="input-sobrantes" value="0"></td>
                                                 </tr>
                                            {% endfor %}
                                            </table>
                                        </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                            <button id="boton-sobrantes-modificar" type="button" class="btn btn-primary pull-right">Modificar</button>
                            <button id="boton-sobrantes-aceptar" type="button" class="btn btn-primary pull-right">Aceptar</button>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </form>

                <form action="" method="post" class="form-horizontal panel panel-default " onsubmit="return validacion_final()">
                    <div class="panel-heading"><p class=" login-title"><font face="tahoma" size="2" color="black"><b>Entregas</b></font></p></div>
                     {% csrf_token %}
                    {{ detalles_factory.management_form }}
                    {{ prod_llevados_factory.management_form }}


                    <table class="table table-hover">
                         <thead>
                            <tr>
                               <th>Pedido</th>
                               <th>Cliente</th>
                               <th>Productos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entrega  in hoja.entrega_set.all %}
                               <tr>
                                  <td> Nro {{entrega.pedido.id}} {{entrega.pedido.get_tipo_pedido_display}}</td>
                                  <td>{{entrega.pedido.cliente}}</td>
                                  <td align="center">
                                        <table   border="2">
                                            <th>Producto</th>
                                            <th>Cantidad Pedida</th>
                                            <th>Cantidad Entregada</th>
                                            {% if  entrega.pedido.tipo_pedido != 3%}
                                                {%for p_llevado in hoja.productosllevados_set.all %}
                                                 <tr>    
                                                     <td>{{ p_llevado.producto_terminado.id }}
                                                         {{ p_llevado.producto_terminado.nombre }} </td>
                                                     <td>{% devolver_cantidad_pedida_entrega entrega p_llevado.producto_terminado %}</td>
                                 <td> <input entrega_id="{{entrega.id}}" 
                                             type="text" class="input-entregas"
                        producto_hidden_id = "{% devolver_producto entrega p_llevado.producto_terminado %}"
                        detalle_pedido_id = "{% devolver_detalle entrega p_llevado.producto_terminado %}"
                        producto_id = "{{p_llevado.producto_terminado.id}}"
                                            placeholder="Cantidad "
                                            value="0">
                                        </td>
                                                 </tr>

                                                {% endfor %}
                                            {%else%}
                                                {%for d in entrega.pedido.pedidoclientedetalle_set.all%}
                                                    <tr>    
                                                     <td>{{ d.producto_terminado.id }}
                                                         {{ d.producto_terminado.nombre }} </td>
                                                     <td>{{ d.cantidad_producto }}</td>
                                 <td> <input entrega_id="{{entrega.id}}" 
                                             type="text" class="input-entregas"
                        producto_hidden_id = "{{ d.producto_terminado.id}}"
                        detalle_pedido_id = "{{d.id}}"
                        producto_id = "{{d.producto_terminado.id}}"
                                            placeholder="Cantidad "
                                            value="0">
                                        </td>
                                                 </tr>
                                                {%endfor%}
                                            {% endif %}
                                            </table>
                                    </td>
                               </tr>
                            {% endfor %}
                        </tbody>
                 </table>



                    <button id="boton-entregas-modificar" type="button" class="btn btn-primary pull-right">Modificar</button>
                            <button id="boton-entregas-aceptar" type="button" class="btn btn-primary pull-right">Aceptar</button>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <div id="hidden-entregas"></div>

                    {% buttons %}
                    <button id = "btn-submit" type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Registrar Rendicion
                    </button>
                  {% endbuttons %}

                </form>
                      <a href="javascript:history.back()" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>

            </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    var listado_entregas = [
        {% for entrega in hoja.entrega_set.all %}
            {% for detalle_entrega in entrega.entregadetalle_set.all%}
                {"detalle_id": {{detalle_entrega.id}},
                "entrega_id": {{entrega.id}},
                "cantidad_enviada":0},
            {% endfor%}
        {%endfor%}
    ];

var listado_productos_totales={};
var listado_productos_sobrantes={};
var listado_productos_entregados={};
    {% for producto_llevado in hoja.productosllevados_set.all %}
            {% for detalle in producto_llevado.productosllevadosdetalle_set.all%}
                listado_productos_totales[{{producto_llevado.producto_terminado.id}}]= {{producto_llevado.cantidad_enviada}};
                listado_productos_sobrantes[{{producto_llevado.producto_terminado.id}}]=0;
                listado_productos_entregados[{{producto_llevado.producto_terminado.id}}]=0;
            {%endfor%}
        {% endfor%}

var prefix_entregas = "{{prefix}}"; //este tiene q venir desde la view
var prefix_prod_llevados = "{{prefix_prod_llevados}}";

function limpiar_diccionario(dic){
    for (i in dic){
        dic[i] = 0;
    }
}


$("#boton-sobrantes-aceptar").click(function(){
    var sobrantes = $(".input-sobrantes");
    if (imputs_llenos(sobrantes) == true){        
        $(sobrantes).each(function(i,val){
            prod_id = val.getAttribute("producto_id");
            enviado = parseInt(val.getAttribute("cant_enviada"));
            valor_nuevo = parseInt(val.value);
            if (enviado < valor_nuevo){
                alert("No pueden sobrar mas productos de los que se llevaron");
            }else{
                listado_productos_sobrantes[prod_id] = valor_nuevo;
                console.log("-------------------------");
                $(this).prop('readonly',true);
                }
        });
    }
    console.log("sobrantes: "+listado_productos_sobrantes);
});

$("#boton-sobrantes-modificar").click(function(){
    $($(".input-sobrantes")).each(function(i,val){
        $(listado_productos_sobrantes).each(function(i,val){
            for (prop in val){
                listado_productos_sobrantes[prop]=0;
            }
        });
        $(this).prop('readonly',false);
    });
    console.log("sobrantes "+listado_productos_sobrantes);
});

    function hay_balance(){
        var prod_ids = _.keys(listado_productos_totales);
        var count=0;
        var result = _.map(prod_ids, function(id) {
            count = listado_productos_sobrantes[id] + listado_productos_entregados[id];
            if (listado_productos_totales[id] < count){
                var a = count - listado_productos_totales[id];
                alert("Para el producto "+ id+ " se cargaron "+ a+" unidades  de mas!");
                return false;
            }else{
                if (listado_productos_totales[id] > count ){
                    var a = listado_productos_totales[id] - count;
                    alert("Faltan registrar para el producto "+id+" unidades: "+a);
                    return false;
                }
            }
            return true;
        });
        return _.all(result);   
    }



    function validacion_final(){
        console.log("en validacion_final");
        var cant_entregadas = $(".input-entregas");
        var diccionario={};
        $(cant_entregadas).each(function(i,val){
            prod_id = parseInt(val.getAttribute('producto_id'));
            nueva_cantidad = parseInt(val.value);
            listado_productos_entregados[prod_id] += nueva_cantidad;
            });
        console.log("------------------------------");
        console.log(listado_productos_entregados);
        if (hay_balance()){
            alert("BALANCE positivo");
            armar_inputs();      
            return true;
        }
        limpiar_diccionario(listado_productos_entregados);         
        return false;
    }


    function armar_inputs(){
        var html = "";
        var count=0;
        $(".input-entregas").each(function(i,val){
             // con estos hidden voy a dar de altas a los detalles de las entregas
            html = html + armar_hidden(prefix_entregas,val.value,"cantidad_entregada",i);
            html = html + armar_hidden(prefix_entregas,val.getAttribute("entrega_id"),"entrega",i);
            html = html + armar_hidden(prefix_entregas,
                                       val.getAttribute("producto_hidden_id"),
                                       "producto_terminado",i);
            html = html + armar_hidden(prefix_entregas,
                                val.getAttribute("detalle_pedido_id"),
                                "pedido_cliente_detalle",i);
            count  = i+1;
        });
        document.getElementById("id_"+prefix_entregas+"-TOTAL_FORMS").value = count;


        $(".input-sobrantes").each(function(i,val){

            html = html + armar_hidden(prefix_prod_llevados,val.value,"cantidad_sobrante",i);
            html = html + armar_hidden(prefix_prod_llevados,val.getAttribute("detalle_id"),"detalle_id",i);
            count=i+1;

        });
        console.log(html);
        $("#hidden-entregas").html(html);
        console.log(prefix_prod_llevados)
        alert(count);
        document.getElementById("id_"+prefix_prod_llevados+"-TOTAL_FORMS").value = count;

    }


</script>
{% endblock %}