{% extends 'base.html' %}
{% load staticfiles %}
{% block contenido %}
{% load recetas %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Rendicion Hoja de Ruta {{hoja.fecha_creacion}}</b></font></p></div>
            <div class="panel-body">                
                <form class=" form-horizontal">    
                <h1> Se Registraron correctamente las entregas</h1>                
                       
                        {% for e in hoja.entrega_set.all%}
                         <div class="bordeado">
                            <div class=" form-group">
                                <label class="col-sm-2 control-label" style="text:4px 4px 4px #000;">Cliente</label>
                                <div class="col-sm-10" style="padding:7px;">
                                  {{e.pedido.cliente.razon_social}}
                                </div>
                            </div>
                            {% for d in e.entregadetalle_set.all %}
                                <div class=" form-group">
                                    <label class="col-sm-2 control-label">Producto</label>
                                    <div class="col-sm-10" style="padding:7px;">
                                      {{d.get_producto_terminado.nombre}}
                                    </div>
                                </div>

                                <div class=" form-group">
                                    <label class="col-sm-2 control-label">Cantidad Pedida</label>
                                    <div class="col-sm-10" style="padding:7px;">
                                          {% devolver_cantidad_pedida d %}
                                    </div>
                                </div>
                                
                                <div class=" form-group">
                                    <label class="col-sm-2 control-label">Cantidad Entregada</label>
                                    <div class="col-sm-10" style="padding:7px;">
                                        {{d.cantidad_entregada}}
                                    </div>
                                </div>

                                <div class=" form-group">
                                    <label class="col-sm-2 control-label">Precio Total</label>
                                    <div class="col-sm-10" style="padding:7px;">
                                        {{ d.precio }}
                                    </div>
                                
                                </div>
                            
                            {% endfor %}
                            </div>

                        {% endfor %}                     
                </form>

            </div>
        </div>
            <a href="javascript:history.back()" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>
</div>
</div>
{% endblock %}
{% block javascript %}
<script>
</script>
{% endblock %}
