{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load recetas %}
{% block contenido %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Rendicion Hoja de Ruta {{hoja.fecha_creacion}}</b></font></p></div>
            <div class="panel-body">                
                <form class=" form-horizontal" method = "post" onsubmit = "return validar()">    
                    {% csrf_token %}
                    {{ cobros_factory.management_form }}

                <h1><font color="#2E8B57" font-size="20%">Se Registraron correctamente las entregas.</font> </h1>
                    {% for e in hoja.entrega_set.all%}
                            <p>&nbsp;</p>
                            <div>
                                <span style="text-decoration: underline;font-size: 150%; ">
                                    <strong>
                                        Cliente: {{e.pedido.cliente.razon_social}} {{e.pedido.get_tipo_pedido_display}}
                                    </strong>
                                </span>
                            </div>
                            <p>&nbsp;</p>
                           <div class="bordeado item-page" style=" border-spacing:0 0px;line-height: 10%;border-style: solid;   border-color: white red; ">                            
                            {% for d in e.entregadetalle_set.all %}
                                <p>&nbsp;</p>
                                <div style="margin-left: 10%;">
                                <span style="text-decoration: underline; ">
                                    <strong>
                                        <font color="blue">Producto: {{d.get_producto_terminado.nombre}}</font>
                                    </strong>
                                </span>
                                </div>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <div class=" form-group" style="margin-left: 3%;">
                                    <label class="col-sm-2 control-label">Cantidad Pedida</label>
                                    <div class="col-sm-10" style="padding:0.7%;">
                                          {% devolver_cantidad_pedida d %}
                                    </div>
                                </div>                                
                                <div class=" form-group" style="margin-left: 3%;">
                                    <label class="col-sm-2 control-label">Cantidad Entregada</label>
                                    <div class="col-sm-10" style="padding:0.7%;">
                                        {{d.cantidad_entregada}}
                                    </div>
                                </div>

                                <div class=" form-group" style="margin-left: 3%;">
                                    <label class="col-sm-2 control-label">Precio Total</label>
                                    <div class="col-sm-10" style="padding:0.7%;">
                                        {{ d.precio }}
                                    </div>                                
                                </div>                            
                            {% endfor %}
                            <div class="form-inline ocultos" style="margin-left: 3%;">                            
                                <h1 style="margin-left: 5%;"><font color="black" size="5%">Pagos </font> </h1>
                                <label for="monto"> Monto a abonar: $ </label>
                                <input type="text" class="form-control monto" id="monto"
                                        data-preciototal= "{%devolver_precio_total e%}"
                                        data-entregaid = "{{ e.id }}"
                                         >
                                
                                <label for="nro_doc"> Nro facgtura/remito:  </label>
                                <input type="text" class="form-control" id="nro_doc" >
                                
                                <button type="button" id="pagar" onclick="" class="boton_bottom btn btn-success pull-down"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true">  Pagar  </span></button>
                            </div>
                            </div>

                             
                    {% endfor %}  
                     
                     {% buttons %}
                        <button id = "btn-submit" type="submit" class="btn btn-primary">
                            {% bootstrap_icon "star" %} Registrar Pagos
                        </button>
                    {% endbuttons %}                 
                </form>

            </div>
        </div>
            <a href="javascript:history.back()" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>
</div>
</div>
{% endblock %}
{% block javascript %}
<script>
var prefix = "{{prefix_cobros}}";


function armar_inputs(){
    var html = "";
    var a = $(".monto");
    for (i=0,i<_.size(a);i++){
        html = html + armar_hidden(prefix, a[i].value, "cantidad_abonada",i);
        

    }

}


function inputs_validos(m){
    var total = 0;
    var valor = 0;
    var diferencia = 0;
    $(m).each(function(i,val){
        total = parseFloat(val.getAttribute("data-preciototal"));
        valor = parseFloat(val.value);            
        if (valor > total){
            diferencia = valor - total; 
            alert("Se pagaton "+diferencia+" pesos de mas para la entrega");
        }      
    });
    alert("todo legal");
    return false;
}

function validar(){
    var montos_pagados = $(".monto");    
    if (inputs_validos(montos_pagados)){
        console.log("asd");
    }
    return false;
}

$(".monto").click(function(){
    $(this).val($(this).data()["preciototal"]);
});





</script>
{% endblock %}
