{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}
<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Asignar grupos</b></font></p></div>
            <div class="row">
                <div  class="form-inline col-md-12">
                    <div class="form-group">
                        <label>Usuario:</label>
                        <input type="text" class="form-control" value="{{usuario.username}}" name="user" id="user" readonly>
                        <label>Nombre:</label>
                        <input type="text" class="form-control" value="{{usuario.first_name}}" name="nombre" id="nombre" readonly>
                        <label>Apellido:</label>
                        <input type="text" class="form-control" value="{{usuario.last_name}}" name="apellido" id="apellido" readonly>
                        <label>e-mail:</label>
                        <input type="text" class="form-control" value="{{usuario.email}}" name="email" id="email" readonly>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>

            <div class="row">
                <form method="get" class="form-inline col-md-12">
                    <div class="col-md-6" style="overflow-y:scroll; max-height:350px;">
                        <p>&nbsp;</p>
                              <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>grupos del ususario</th>
                                </tr>
                                </thead>
                                  <tbody>
                                    {% for grupo in grupos_usuario %}

                                    <tr class="renglon select-item" data-id="{{grupo.id}}" id="renglon-{{grupo.id}}"  >
                                        <td>{{grupo}}</td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                              </table>
                    </div>

                    <label for="id_grupo">Grupo</label>
                    <select class="form-control" id="id_grupo" name="id_grupo" title="" >
                    <option value="" selected="selected">---------</option>
                         {% for i in grupos %}
                             <option value="{{i.id}}">{{i}}</option>
                        {% endfor %}
                    </select>


                    <p>&nbsp;</p>
                </form>
                <div align="right"class="form-inline col-md-7">
                    {% buttons %}
                    <button id="agregar-grupo"  class="btn btn-primary" ><span class="glyphicon glyphicon-chevron-left" aria-hidden="true">Agregar</span></button>
                    <p></p>
                    <button id="quitar-grupo" class="btn btn-danger" ><span class="glyphicon glyphicon-chevron-right" aria-hidden="true">Quitar</span></button>
                    {% endbuttons %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}



{% block javascript %}
<script>
$(function(){
        var id_usuario = {{usuario.pk}};                      //el ususario con que estoy trabajando
        var id_grupo_usuario;                                //grupo del usuario que seleccionado para quitar al usuario
        var id_grupo = 0;                                   ///grupo seleccionado para agregar al usurio
        var id;

       $("#id_grupo").on("change", function() {
          id_grupo = $("#id_grupo").val();
       });

       function obtenerId(event) {
            var $el = $(this);          //con this se referencia al objeto de clase select-item que ocaciono el evento, el id se define en el html
            id_grupo_usuario = $el.data()["id"];

            $el.addClass("danger");
            var _renglon = "";
            _renglon= "#renglon-"+id_grupo_usuario;
            $(".select-item").removeClass("danger");
            $(_renglon).addClass("danger");
        }


        function quitar(){
            if(id_grupo_usuario == undefined){
                BootstrapDialog.show({
                    title: "Error",
                    cssClass: 'error-dialog',
                    message: "debe seleccionar uno de los grupos del usuario",
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                            label: 'Aceptar',
                            action: function(dialogRef){
                                dialogRef.close();
                }}]});
            }else{
               $.ajax({
                    method: "GET",
                    url:'/usuarios/admin/modificar/quitar/grupo/{{usuario.pk}}/'+id_grupo_usuario,
                    success: function() {
                        location.reload();
               }});
            }
        }


        function agregar(){
            if(id_grupo == 0){
                 BootstrapDialog.show({
                    title: "Error",
                    cssClass: 'error-dialog',
                    message: "debe seleccionar el grupos a agregar",
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                            label: 'Aceptar',
                            action: function(dialogRef){
                                dialogRef.close();
                 }}]});
            }else{
               $.ajax({
                    method: "GET",
                    url:'/usuarios/admin/modificar/agregar/grupo/{{usuario.pk}}/'+id_grupo,
                    success: function() {
                        location.reload();
               }});
            }
        }



        $(".select-item").click(obtenerId);
        $("#quitar-grupo").click(quitar);
        $("#agregar-grupo").click(agregar);

       });
</script>
{% endblock %}