{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block contenido %}
<!-- Este es el formulario de USUARIS PAPA -->

<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Usuarios</b></font></p></div>

        <div class="panel-body">
              <!-- formulario -->
            <!--<form class="form-inline"> -->

            <div class="row">

                <div class="col-md-10" style="overflow-y:scroll; max-height:350px;">
                    <p>&nbsp;</p>

                          <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>e-mail</th>
                            </tr>
                            </thead>
                              <tbody>
                                {% for usuario in usuarios %}

                                <tr class="renglon select-item" data-id="{{usuario.id}}" id="renglon-{{usuario.id}}"  >
                                    <td>{{usuario.username}}</td>
                                    <td>{{usuario.first_name}}</td>
                                    <td>{{usuario.last_name}}</td>
                                    <td>{{usuario.email}}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                </div>

                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <!-- <a href ="insumosConsulta" type="button" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true">  </span></a> -->
                    <!-- <a id="consulta-insumo" type="button" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true">  </span></a>-->
                    <a id ="modificar-usuario" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span></a>
                    <button id ="modal-eliminar" type="button" class="btn btn-danger "><span class="glyphicon glyphicon-trash" aria-hidden="true">    </span></button>
                </div>

                <p></p>
                <a class="btn" href = "{% url 'signup' %}"><font face="tahoma" size="2" color="green"><b><span  class="glyphicon glyphicon-ok" aria-hidden="true"> Crear Usuario </span></b></font></a>
            </div>
            <hr/>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    $(function() {
        var id;
        function obtenerId(event) {
            var $el = $(this);          //con this se referencia al objeto de clase select-item que ocaciono el evento, el id se define en el html
            id = $el.data()["id"];

            $el.addClass("danger");
            var _renglon = "";
            _renglon= "#renglon-"+id;
            $(".select-item").removeClass("danger");        //quito la clase active, para q se deseleccionen
            $(_renglon).addClass("danger");
        }

        $(".select-item").click(obtenerId);     //todos los elementos de clase "selec-item", al hacerles clic se ejecuta "obtenerId"

        function mostrar_error(){
            BootstrapDialog.show({
                    title: "Error",
                    cssClass: 'error-dialog',
                    message: "Debe seleccionar un usuario",
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                            label: 'Aceptar',
                            action: function(dialogRef){
                                dialogRef.close();
        }}]});}

        function modificar(){
            if(id==undefined){
                mostrar_error();
            }else{
            window.open('/usuarios/admin/modificar/'+id+'',"_self")
        }}

        $("#modificar-usuario").click(modificar);



        function eliminar(){
            if (id == undefined){
                 mostrar_error()
            }else{
                BootstrapDialog.show({
                    title: "Eliminar",
                    cssClass: 'aviso-dialog',
                    message: "Seguro que desea eliminar el usuario?",
                    type: BootstrapDialog.TYPE_WARNING,
                    buttons: [{
                            label: 'Aceptar',
                            action: function(dialogRef){
                                window.open('/usuarios/admin/baja/'+id+'',"_self");
                                dialogRef.close();
                            }},{
                            label: 'Cancelar',
                            action:function(dialogRef){
                            dialogRef.close();
                            }
                        }]
                    });
            }
        };


        $("#modal-eliminar").click(eliminar);
    });
</script>

{% endblock %}