{% extends 'base.html' %}
{% load staticfiles %}

{% load bootstrap3 %}

{% block contenido %}

<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Usuario</b></font></p></div>
           <p>&nbsp;</p>
                <form action="{% url 'usuario'  %}" method="post" class="form">
                    {% csrf_token %}


                    <!-- Debe mostrar los datos del usuario y dar la posivilidad de modificar los que correspondan-->
                    <div class="form-group">
                        <label>Usuario:</label>
                        <input type="text" class="form-control" value="{{user.username}}" name="username" id="username" readonly>
                    </div>

                    <div class="form-group">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" value="{{user.first_name}}" name="username" id="first_name" readonly>
                    </div>

                    <div class="form-group">
                        <label>Apellido:</label>
                        <input type="text" class="form-control" value="{{user.last_name}}" name="username" id="last_name" readonly>
                    </div>

                    <div class="form-group">
                        <label>e-mail:</label>
                        <input type="text" class="form-control" value="{{user.email}}" name="username" id="email" readonly>
                    </div>


                    <p>&nbsp;</p>
                    {% buttons %}
                    <button id = "editar-usuario"  class="btn btn-primary" ><span class="glyphicon glyphicon-pencil" aria-hidden="true">  Editar  </span></button>

                    <button id ="cambiar-clave" class="btn btn-primary" ><span class="glyphicon glyphicon-lock" aria-hidden="true">  Cambiar clave </span></button>

                    {% endbuttons %}

                 </form>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(function() {
        var id = {{user}};

        function editar(){
            window.open('/usuario/editar/'+id+'',"_self")
        }}

        function cambiar_clave(){
            window.open('/usuario/clave/'+id+'',"_self")
        }}

        $("#editar-usuario").click(editar);
        $("#cambiar-clave").click(cambiar_clave);

    });
</script>

{% endblock %}