{% extends 'base.html' %}
{% load staticfiles %}

{% load bootstrap3 %}

{% block contenido %}

<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Usuario</b></font></p></div>
            <div class="panel-body">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <form action="{% url 'usuario'  %}" method="post" class="form">


                        <div class="form-group">
                            <label>Usuario:</label>
                            <input type="text" class="form-control" value="{{user.username}}" name="username" id="username" readonly>
                        </div>

                        <div class="form-group">
                            <label>Nombre:</label>
                            <input type="text" class="form-control" value="{{user.first_name}}" name="first_name" id="first_name" readonly>
                        </div>

                        <div class="form-group">
                            <label>Apellido:</label>
                            <input type="text" class="form-control" value="{{user.last_name}}" name="last_name" id="last_name" readonly>
                        </div>

                        <div class="form-group">
                            <label>e-mail:</label>
                            <input type="text" class="form-control" value="{{user.email}}" name="email" id="email" readonly>
                        </div>


                        <p>&nbsp;</p>

                    </form>
                    {% buttons %}
                    <a class="btn btn-primary" href = "{% url 'usuarioEditar' user.pk %}"><font face="tahoma" ><b><span  class="glyphicon glyphicon-pencil" aria-hidden="true"> Editar </span></b></font></a>
                    <a class="btn btn-primary" href = "{% url 'usuarioCambiarClave' %}"><font face="tahoma" ><b><span  class="glyphicon glyphicon-lock" aria-hidden="true"> Cambiar clave </span></b></font></a>

                    {% endbuttons %}
                </div>
                <div style="padding-top: 30%;"><a class="btn btn-danger pull-right" href = "{% url 'index' %}" ><font face="tahoma" ><b><span class="glyphicon glyphicon-remove" aria-hidden="true"> Cancelar </span></b></font></a></div>
            </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    

        function editar(){
            window.open('/usuario/editar/'+id+'',"_self")
        }

        function cambiar_clave(){
            window.open('/usuario/clave/'+id+'',"_self")
        }

        $("#editar-usuario").click(editar);
        $("#cambiar-clave").click(cambiar_clave);

    
</script>

{% endblock %}