{% extends 'base.html' %}
{% load staticfiles %}
{% block contenido %}

<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Descripcion de la Zona</b></font></p></div>
            <div class="panel-body">
                <form role="form" class="form-horizontal">

                    <div class=" form-group">
                        <!--<label  class="col-sm-2 control-label my_label">Nombre:</label>-->
                        <div class="col-sm-10" style="padding:15px;">
                          <label> Nombre:</label><fuente style="font-size: 160%;" > {{zona.nombre}} </fuente>
                        </div>
                    </div>

                    <!--<div class="form-group col-md-6">
                        <label for="nombre">Nombre: </label>
                        <input type="text" class="form-control" id="nombre" name = "nombre" value="{{zona.nombre}} " readonly>
                     </div>-->
                </form>
                <p>&nbsp;</p>
                <div class="panel-heading"><p class="text-center login-title"><font face="cambria" size="4" color="black"><b><fuente style="font-size: 100%;" >Ciudades en {{zona.nombre}}</fuente></b></font></p></div>
                <!--<div class="col-md-8 col-md-offset-2"> esto sirve para centrar una tabla-->
                <div class="col-md-11 pull-right">
                    <div class="col-md-10">
                         <table class="table table-hover">
                             <thead>
                                <tr>
                                   <th>Nombre</th>
                                   <th>Codigo Postal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in ciudades %}
                                   <tr>
                            <td><a href="{% url 'ciudadConsulta' c.id %}">{{c.nombre}}</a></td>
                                      <td>{{c.codigo_postal}}</td>
                                   </tr>
                                {% endfor %}
                            </tbody>
                         </table>
                    </div>
                </div>

              <hr/>

        </div>
      <a href="javascript:history.back()" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>


    </div>
</div>

{% endblock %}
