{% extends 'base.html' %}
{% load staticfiles %}
{% block contenido %}

<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading"><p class="text-center login-title"><font face="tahoma" size="4" color="black"><b>Descripcion de la Zona</b></font></p></div>
            <div class="panel-body">
                <form class=" form-horizontal col-md-12">
                     <div class="form-group col-md-6">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name = "nombre" value="{{zona.nombre}} " readonly>
                </form>
                <p>&nbsp;</p>
                <h2>Ciudades</h2>
                <div class="row">
                    <div class="col-md-10">
                         <table class="table table-hover">
                             <thead>
                                <tr>
                                   <th>Nombre</th>
                                   <th>Codigo Postal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in ciudades %}
                                   <tr>
                                      <td>{{c.nombre}}</td>
                                      <td>{{c.codigo_postal}}</td>
                                   </tr>
                                {% endfor %}
                            </tbody>
                         </table>
                    </div>
                </div>
              <hr/>

        </div>
                                            <a href = "{%url 'zonas' %}" class="btn pull-right" ><font face="tahoma" size="2" color="green"><b><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"> Volver </span></b></font></a>


    </div>
</div>

{% endblock %}
